[2020-09-11 11:29] manast commented on #53
whats the output of this line in the code above?
[code]

[2020-09-11 11:35] euanmillar commented on #53
It outputs this: **Initialising queue on REDIS_HOST: redis**

Looking at the ioredis docs:
https://github.com/luin/ioredis

I think that the connection should be like this:

[code]

[2020-09-11 11:42] manast commented on #53
It can also be a string, but maybe you need to format it correctly like ```"redis:/redis:6379"```

[2020-09-11 13:46] euanmillar commented on #53
@manast  In the end I need to pass an IP as a string "0.0.0.0" rather than 'redis' and it seems to be connecting without errors now.

So, back to the documentation ... I think that the bullmq docs on [this](https://docs.bullmq.io/guide/connections) page, are incorrect and should be changed:

This:

[code]

...should be changed to:

[code]

... and this:

[code]

... should be changed to:

[code]

[2020-09-11 13:51] manast commented on #53
I do not think the current documentation is wrong actually... if you pass an instance of IORedis then you need to read in ioredis documentation on how to create an instance that works for your setup. Otherwise you can pass the redis settings directly to the connection and it works.
And using 0.0.0.0 as your redis instance address is definitely wrong: https://serverfault.com/questions/876698/whats-

[2020-09-11 13:56] euanmillar commented on #53
I think the docs can be improved if you explicitly state **"if you pass an instance of IORedis then you need to read in ioredis documentation on how to create an instance that works for your setup."** as I am suggesting in the comments in the code example.  0.0.0.0 seems to be right for my setup as I am running in a Docker Swarm.  If you would rather then this is also fine but note the quotes requ

[2020-09-14 17:01] xrip opened #272 "Repeatable jobs 'every': wrong behavior"
When I add a repeatable job with 'every' parameter I expect it runs every X seconds after the job created, but it's run every X seconds since the day started.

Simple test case:

[code]
Actual results:
[code]

Excepted results:
[code]

[2020-09-14 19:55] manast commented on #272
works as designed. This is a distributed queue and we need to execute the jobs in known time points, doing it as you expect will not guarantee unique repetitions when you have several workers processing the queue. More background here: https://github.com/OptimalBits/bull/issues/1239

[2020-09-14 19:55] #272 closed

[2020-09-17 15:08] mattwynne commented on #254
I guess this is happening because the error is going through a serialization/deserialization process as it comes back through Redis.

I'm also having issues with this as I'd like to be able to raise custom errors in the workers. I'd like a way to be able to hook into the serialization/deserialization so I can control the Error types being returned from the job promise.

[2020-09-17 17:35] felixmosh commented on #254
This is the place which copies the `message` property
https://github.com/taskforcesh/bullmq/blob/cef134f7c4d87e1b80ba42a5e06c3877956ff4cc/src/classes/job.ts#L254

[2020-09-17 20:05] manast commented on #254
yeah, it is impossible to keep that class since as mentioned above the error has been serialized and deserialiized.

[2020-09-17 20:05] #254 closed

[2020-09-18 05:48] felixmosh commented on #254
How about exposing some kind of serialize & deserialize methods, there I can make it to work.

In the serilize it will pass the class obj, there i will retorn a serializable PoJO. An on the other side it will invoke the deserialize method.

WDYT?

[2020-09-18 08:09] manast commented on #254
there are plans for custom serializers but this is not so simple, for instance, the UI would need to also know about the serialize you are using so that it can display the jobs data correctly.

[2020-09-18 08:11] manast commented on #254
not sure if it would help in your case, but maybe simpler would be if it was possible to add some "type" field to the error that is being thrown, then you could check that for discriminate which error it is.

[2020-09-18 08:46] felixmosh commented on #254
This is not an issue because it is possible to implement it as enhancement, at the worse it will fallback to the message of the error (like it is now)

[2020-09-18 08:52] felixmosh commented on #254
This will be helpful but without the additional info it would be useless.

[2020-09-18 10:41] mattwynne commented on #254
@felixmosh FWIW here's how I've worked around it for now: https://github.com/SmartBear/git-en-boite/pull/221

Essentially, it [serializes all the properties and constructor name](https://github.com/SmartBear/git-en-boite/blob/custom-errors-through-the-wire/packages/core/src/git_error.ts#L33) of the custom error in the `message` property of a regular `Error` as it goes through Bull, then when it co

[2020-09-18 10:54] felixmosh commented on #254
Thanks for sharing your solution, actually I’ve serialized some data in the message as well but it is hacky  :/

[2020-09-19 15:09] cktang88 opened #274 "Feature parity vs bull v3"
How does this compare feature wise with the current https://github.com/OptimalBits/bull ?
Is there a roadmap for features?

[2020-09-20 11:24] mattwynne commented on #254
It could be possible to use something like https://github.com/efossas/Javascript-Serializer within Bull to serialize the error (instead of just capturing the `message` and `stack` properties) on the Job.

Perhaps we could do this in a third property on `Job` so other things (like the UI) that already read the `message` and `stack` could continue to rely on them?

[2020-09-20 20:04] ferbs opened #275 "Reference to child process for IPC"
It doesn't look like bullmq v1.9.0 exposes child processes running sandboxed jobs. One use case for IPC between the parent proces and sandboxed jobs is the request-response pattern, where a sandboxed job adds a new response job upon finishing, relaying the result over IPC to be enqueued rather than creating a Queue/connection in each child process or using some more awkward messaging mechanism. An

[2020-09-20 20:22] manast commented on #275
sounds like two interesting use-cases. Considering this should be a pretty simple feature I think we should keep it as a feature request.

[2020-09-20 20:30] manast commented on #254
@mattwynne I am not super positive about this idea but I may change my opinion in the future.

[2020-09-20 23:23] ferbs commented on #275
Great! I dropped a loopback-only http server into my project as a messaging placeholder but can contribute this feature later (in some weeks/months) if no one on your team has the need or time for it.

[2020-09-21 01:30] ferbs opened #276 "HotnessQueue & WeightedQueue"
I'm wondering about alternatives to the priority queue option, something that doesn't starve less-important items. Any interest in this feature/topic?

A practical option might be randomly selecting items by weighted average. Eg, user assigns one of a handful of named priorities to a job ("low", "medium", etc.) The job is placed in a corresponding bucket/list, which is not sorted. Then Lua decides

[2020-09-21 12:58] manast commented on #274
On the top of my head I think only TTL for jobs is missing on BullMQ.

[2020-09-23 15:04] nstaab1 opened #278 "How to implement Custom Backoffs in BullMQ."
Hello,

I am working on developing an app we were going to use Bull 3 but moving to BullMQ as it is a better fit since we are already in TypeScript.

In Bull 3 I would create custom back off as such

[code]

I have been playing arounf in BullMQ but cant figure out how we would do this. I cant find any documentation on Custom Backoffs in the documentation.

Thank you for the help and everything bei

[2020-09-23 22:11] ferbs commented on #276
A minimal-Lua implementation comes to mind for priority-weighting jobs:

When adding a weighted job to a queue, bullmq would also send along a pre-determined list of buckets to pull from. On the Lua side, it would only loop through this list, moving jobs from that bucket, if present, to the normal bullmq active queue. To avoid the case of jobs being stranded when there's low activity, the pre-orde

[2020-09-25 08:49] manast commented on #276
What if the priority is combined with the timestamp, so that older jobs gets prioritized despite having less priority than new ones?

[2020-09-25 09:33] manast commented on #278
Sorry for late response, here you go: https://docs.bullmq.io/guide/retrying-failing-jobs

[2020-09-25 19:07] ferbs commented on #276
That's the idea behind the "hotness" one. I'd give it less consideration though because it'd be relatively expensive, both in terms of performance impact and implementation difficulty. Unless there's something clever I'm not thinking about, lua or js would need to periodically recompute the score of each waiting job.

The weighting feature has way more bang for the buck. A first-pass strategy woul

[2020-09-25 19:23] ferbs commented on #276
Am removing the "hotness" one from the title. It's basically existing functionality if score has a time component like you said. Eg: `priority: minutesFromEpoch() + myScore`

[2020-09-28 20:25] nstaab1 commented on #278
Thanks so much for the response. Got this working, thank you for your development of this, it is awesome!

[2020-09-28 20:25] #278 closed

[2020-10-01 13:08] kralphs commented on #124
For us, we already use Couchbase for our backend which can operate as a very efficient key-value store. In fact, that ability is one of the reasons we opted for Couchbase so we wouldn't have to run a separate key-value store.

I don't see how this would _not_ be a feasible job. Theoretically all you have to do is program against an interface instead of tightly coupling to the IORedis. In the long

[2020-10-01 14:12] manast commented on #124
@kralphs unfortunately the logic required for many of the core features in BullMQ (delayed jobs, rate limiting, priorities), are quite complex and take advantage of unique features in Redis so making an abstraction interface to make it portable to other backends its kind of impossible. I will give you an analogy, imagine that the queue system was implemented using advanced SQL statements instead,

[2020-10-01 14:47] kralphs commented on #124
I understand that part of it. But that doesn't really affect _you_, that affects any of us that might want to implement the interface with another backend. Your interface could be as specific as the current IORedis client class with _your_ implementation calling identically named methods.

It could be that I'm interested in something less than the original poster. I don't care about being provided

[2020-10-02 02:45] omen-x commented on #239
I've faced the same issue. I managed to stop crushes only after adding error handlers for each instance of `Queue`, `Worker`, `QueueScheduler`. Also, you can use `QueueEvents` instead of attaching an error handler for each `Worker`.

Example:
[code]

[2020-10-03 04:56] kralphs commented on #124
@manast Hey, I don't mean to be a bother, but it looks like @jccq and I are requesting a response about whether you would be willing to accept a PR for dependency inversion. Would you mind letting us know one way or another?

[2020-10-03 10:01] manast commented on #239
@glebskalinskii is the error stack you are showing really coming from BullMQ? I have tested this several times recently and it works correctly, it will reconnect when the connection is re-stablished and continue processing jobs.

[2020-10-03 10:01] manast commented on #239
(also we do not use winston in BullMQ, so it seems your code is triggering that exception).

[2020-10-07 11:22] nmrgt opened #281 "Reuse connection with lazyConnect on worker"
If I use a shared redis connection with lazy connect option in a worker, like this (pseudo code)
[code]
Worker dont process any job exept those already in queue when starting.
blockingConnection.client promise is never resolved which block every new job processing.

In Worker constructor :
[code]
I think that the bug come from redis duplicating (clone redis object with options - like lazyconnect)

[2020-10-07 13:16] manast commented on #281
Could be a bug in ioredis when duplicating a connection that has the ```lazyConnect: true``` option set. Best would be to just warn about it I think.

[2020-10-08 14:37] mgan59 commented on #274
Stumbled into here as I'm getting alerts for my redis memory filling up.  Realizing that the Jobs/Keys in redis don't have a `TTL` set.  Also saw issue #85 mentioned.  Wanted to clarify if I need to enable something on my end or if it isn't implemented completely.

[2020-10-08 15:00] manast commented on #274
@mgan59 TTL here does not refer to keys expiration but on TTL for a given job, i.e. if it takes more than TTL to process it should fail. What you should check to avoid filling up your redis instance is the removeOnComplete/removeOnFailed options: https://docs.bullmq.io/guide/jobs/fifo

[2020-10-08 15:36] mgan59 commented on #274
@manast aahh perfect, thanks for clarifying.  And the link to the document.  This helps a bunch and should solve my key buildup.  👍

[2020-10-08 20:09] #274 closed

[2020-10-09 08:09] enahomurphy commented on #245
This issue was caused by me. I had another instance picking and processing my Job.

[2020-10-09 08:09] #245 closed

[2020-10-09 08:43] manast commented on #245
@enahomurphy thank you for updating the issue.

[2020-10-12 14:32] richardgarnier opened #282 "Memory leak"
I have noticed that the jobs are leaking on the worker side, when a worker queues jobs on that worker queues.
For clarity, if the worker object is constructed with `new Worker('oom-test')` and tries to do `new Queue('oom-test').add(...)`, these jobs will leak.

However, if the worker queues job using a different queue (e.g. `new Queue('oom-test-one').add(...)`, then it no longer leaks.

In order t

[2020-10-12 20:40] manast commented on #282
thanks for the report, it is going to take some time to verify this. One think that sounds suspicious is that you mention the leak is in the worker but only when adding jobs. What if you only add jobs, does it not leak memory in that case? also, regarding this line:
[code]
Does it leak memory even with that line out-commented? (in the past we had problems with that function. I did a quick analysis

[2020-10-13 06:14] richardgarnier commented on #282
To check whether or not it leaks should be easy using the incremental snapshots. When opening them, we can see that the 1MB result strings are never collected, and have their distance gradually increase in the promise reaction chain. (see screenshot)
Also I didn't check, but it might get collected once the longer job completes.

![image](https://user-images.githubusercontent.com/8066261/95821944-4

[2020-10-13 07:58] manast commented on #282
Ok, then the leak is in that function as I suspected. I will review it deeper to see how this can happen.

[2020-10-13 08:08] manast commented on #282
I did a small fix here that I think could fix this issue: https://github.com/taskforcesh/bullmq/pull/284
I wont have time to verify it today though, I can check tomorrow if you cannot verify it yourself.

[2020-10-13 10:28] Embraser01 commented on #282
Seems like the problem isn't in `waitUntilFinished`. If I replace (in `worker.js`) by `await sleep(200)` it still leak (I also tried your fix @manast but without success)

[2020-10-13 11:26] Embraser01 commented on #282
Note that NodeJS GC remove the leak after the end of the job (here I took the heap snapshot 2s after the queue is drained)

![image](https://user-images.githubusercontent.com/8802277/95854607-77e8e680-0d57-11eb-8f04-9944710ede76.png)

[2020-10-13 12:28] manast commented on #282
If it is removed by the GC then it is not a leak by definition.

[2020-10-13 12:49] Embraser01 commented on #282
I agree it's not a "leak" per se. But there is still a memory accumulation somewhere that shouldn't be here. I looked into heapdump a little more and I found out that Jobs are kept because they are used [here](https://github.com/taskforcesh/bullmq/blob/4262837bc67e007fe44606670dce48ee7fec65cd/src/classes/worker.ts#L138)

![image](https://user-images.githubusercontent.com/8802277/95861764-327de680-

[2020-10-13 13:04] richardgarnier commented on #282
In my case I had a worker that was acting as an aggregator.
It would split the work to do in multiple subtasks, get some of the results, batch them together and write the results somewhere (out of memory).
The fact the memory of the first subtask is not reclaimed before the aggregator task ends, makes it that my process is getting OOM.

[2020-10-13 13:16] manast commented on #282
is it possible to simplify the test further, for example there is a jobOne and jobAll, etc. If it can be simplified to the absolutely minimum that reproduces the leak it would be easier to pinpoint where it comes from.

[2020-10-13 13:35] Embraser01 commented on #282
So I think I found the reason behind this leak:

When linstening to [`multipleResolves`](https://nodejs.org/api/process.html#process_event_multipleresolves) on the worker process, there isn't any event emitted until the end of the job processing. At the end, it emits a lot (more than 100) of events.

These events comes from here:
 https://github.com/taskforcesh/bullmq/blob/4262837bc67e007fe4460667

[2020-10-13 14:02] Embraser01 commented on #282
I found this issue related to `Promise.race` that can explain why promises are not collected until the end https://github.com/nodejs/node/issues/17469

[2020-10-13 14:11] manast commented on #282
yeah, that may be it. Fortunately there is a safeRace implementation that does not have the leak. Seems like it is not so trivial to just replace the Promise.race by something else that does the same.

[2020-10-13 14:23] Embraser01 commented on #282
I think [my fix](https://github.com/taskforcesh/bullmq/issues/282#issuecomment-707742995) will prevent most of OOM as it keeps a single number (with a small footprint) and doesn't imply much changes. On the other hand, if you prefer fixing the real issue behind this, using a better `Promise.race` implementation like the one linked in the issue seems good!

[2020-10-13 16:01] manast commented on #282
looks great actually, and I think it is easier to understand than previous implementation.

[2020-10-15 13:36] talkl commented on #63
@ccollie did you finish the ui?

also https://www.datadoghq.com/blog/monitor-sidekiq-with-datadog/

what about talking with datadog so they build something that gets people to buy their services?

[2020-10-15 13:40] manast commented on #63
@talkl this is what we are building in https://taskforce.sh, which btw is now compatible with BullMQ.

[2020-10-15 13:41] talkl commented on #63
will have a look. you should advertise it more, since it's not the first thing that comes to mind @manast

[2020-10-15 14:00] manast commented on #63
@talkl it is mentioned on the README. Do you have any suggestion where you think it would be more visible?

[2020-10-15 14:19] talkl commented on #63
@manast   Taskforce.sh sponsors BullMQ development, please consider using it for your front end and/or hosting needs.
doesn't say what Taskforce.sh is. When i looked at this phrase i thought it is some kind of a cloud provider for hosting websites. Be more precise what do they offer. Also "...please consider..." doesn't sound very promising, i would put the points of strength that the service offe

[2020-10-15 14:20] ccollie commented on #63
Like most people, the current wetware bug has stalled progress on the UI, but I've been working heavily on monitoring/alerting functionality (I took some inspiration from Datadog and others). All this is exposed with over GraphQL.

 I'm investing in tests at the moment, and as soon as the code is presentable I'll post some news.

[2020-10-16 13:56] Wolvan opened #286 "stalledInterval not working properly"
**BullMQ Version: 1.9.0**

Trying to change the `stalledInterval` on a `QueueScheduler` does not seem to work properly.

My demo setup is this:

`scheduler.js`
[code]

`worker.js`
[code]

`task-adder.js`
[code]

I start up 1 scheduler, then 1 worker and then I run `task-adder` once to kick the entire test off.

Attempting to set `stalledInterval` to 0 causes the following error message:
[code]
Acc

[2020-10-17 10:24] abenhamdine commented on #63
I subscribed to Taskforce.sh to monitor our bullmq jobs, and I confirm it works fine :

![image](https://user-images.githubusercontent.com/7466144/96334803-b0e4cc00-1073-11eb-81db-4cadf4e95329.png)

[2020-10-19 10:57] deman4ik commented on #215
@manast @willoughby
Hello.
I have same issue

[code]

worker just hangs after that.

How to correctly catch that exception?

[2020-10-19 11:08] manast commented on #286
Where in the documentation do you read that 0 disables the stalledIntervall?

[2020-10-19 13:17] manast commented on #286
Regarding the other problem with worker not processing after stalled jobs, it is a duplicate of this one #215
I just removed to emit error event to solve this, I think it is not so critical to be able to listen to that event anyways.

[2020-10-19 14:57] #286 closed

[2020-10-20 08:57] manast commented on #215
@deman4ik the correct way was to attach a listener for the error event, but we do this internally now so it is not needed anymore, however the release has not been performed yet, fixing the automatic release procedure using github actions, as soon as it works it will be released automatically.

[2020-10-21 12:22] richardgarnier commented on #282
Thank you, I confirmed the fix in the PR was solving the issue, thus closing this.

[2020-10-21 12:22] #282 closed

[2020-10-22 06:58] antirek opened #294 "returnvalue on completed event"
my worker set returnvalue
[code]
and I see that job contain 'return value' in console
[code]
but in events, which I try catch so

[code]

I see that 'returnvalue' empty
[code]
How I can pass 'returnvalue' into completed event?

I use bullmq npm version 1.10.0

[2020-10-22 08:11] Wolvan commented on #286
The doc is unfortunately severely lacking on any kind of information regarding `stalledInterval`. I admit, the setting to 0 to disable has come from the original bull package (see [this part of the reference](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queue)).

That also leaves the last part of the post open though. Setting the timeout to `10000` did not cause the stalledInterval

[2020-10-22 08:17] manast commented on #294
the return value is the value that you return in your process function, you do not need to explicitly set it on the job:
https://docs.bullmq.io/guide/returning-job-data

[2020-10-22 08:18] manast commented on #286
@Wolvan have you tried the new version 1.10.0 ?

[2020-10-22 08:26] Wolvan commented on #286
Yes, I did. The worker keeps processing even with the missing lock error, but the stalledInterval (even though I set it to 10000) still stays at around 30-32 seconds.

[2020-10-22 08:26] antirek commented on #294
[this commit](https://github.com/taskforcesh/bullmq/commit/b564337cccc1b5e8d7f0734938616674d54fd6da#diff-023d72b1c7ef482b23b7f5afb9762846e480ef5f298dbc0382cdb97cbcfa5d35) is amazing :+1:

great thanks, Manuel

[2020-10-22 08:35] manast commented on #286
I am not able to reproduce that. In any case, why would you like to change the stalledIntervall, this is not something very common to do.

[2020-10-22 08:36] Wolvan commented on #286
Because I have jobs that have the potential to stall. I guess I should be using a sandbox'd script instead?

[2020-10-22 08:36] #294 closed

[2020-10-22 08:38] manast commented on #286
yeah, that would be better. CPU intensive jobs that block the nodejs loop for long time are problematic if run in the same process as the token renewer (which runs twice as fast as the stalled intervall).

[2020-10-22 08:45] Wolvan commented on #286
I see. I'll take that suggestion to heart, then

[2020-10-22 20:45] drone1 opened #295 "Documentation: API Reference Page is blank"
![image](https://user-images.githubusercontent.com/6324796/96927977-2b6c7c00-14b8-11eb-863e-15880d129ccb.png)

https://docs.bullmq.io/api-reference

[2020-10-22 22:07] drone1 commented on #254
@mattwynne: What is the suggested pattern for getting at the nature of a failed job? Even a simple job may fail for a variety of reasons.

[2020-10-23 01:12] antirek commented on #216
without waitUntilFinished #294

[2020-10-23 06:47] PaulGrimshaw opened #296 "Exit code on sandbox worker"
Is there a way to force a sandbox worker to be killed on error?

I need to ensure that the worker process is properly terminated and not hanging after exit.

This is the relevant code:

https://github.com/taskforcesh/bullmq/blob/master/src/classes/sandbox.ts

Currently we implement our own try/catch method inside the job runner, and have to terminate with `process.exit()`  which causes this line t

[2020-10-23 09:05] manast commented on #296
But why can't you just throw an exception from your process handler so that BullMQ handles it as a standard failed job?

[2020-10-23 09:42] PaulGrimshaw commented on #296
Thats what we tried originally, but for example running this in the job processor:

[code]

We always see the "LATE LOG" unless we call process.exit() ourselves

[2020-10-23 10:46] manast commented on #296
yes, that makes sense since the timeout has not been cancelled. You will need to clean up all running timers. I think it is a better practice to do a cleanup and then a throw than a brute force process exit.

[2020-10-23 10:53] PaulGrimshaw commented on #296
I take your point, but this example was trivial - more often it might be because of timeouts connecting to various apis or database connections.  The advantage of the brute force option is that if any error occurs, we know that all existing connections, running queries, etc are all terminated.

[2020-10-23 11:00] mattwynne commented on #254
@drone1 I don't understand your question, sorry.

What I'm suggesting is to remove the assumption that the error raised in the worker will neccesarily be of type `Error` and support a way to serialize / deserialize custom errror types.

Even if bull were opinionated about using a particular framework / library for custom errors, I think that would be fine.

[2020-10-23 13:03] Clemens-E opened #297 "How do I only process Jobs with a specific name?"
Hi, in Bull you had "Named jobs", so you could give a job a name (like you can in BullMQ) but the difference is, that in Bull you were able to only process jobs with a specific name, e.g.
[code]
Is this possible in BullMQ as well?
I looked into the Worker Class and its types, but were not able to find a similar feature, am I overlooking something?

My setup is something like this:
Multiple Workers

[2020-10-23 13:08] Clemens-E commented on #297
Oh, sorry, I just saw #84
So, I guess there is no way for me to "route" the jobs to a specific set of Workers?

[2020-10-23 15:18] manast commented on #297
No, this is exactly the same as in Bull. It is now more explicit to avoid confusions. If you need to have different workers for different tasks then you should use different queues.

[2020-10-23 15:51] joebowbeer commented on #257
I think the underlying ioredis [issue](https://github.com/luin/ioredis/issues/536) is [fixed](https://github.com/luin/ioredis/pull/1201) (but not yet released)

[2020-10-23 15:54] Clemens-E commented on #297
Really? The Documentation says

Or am I mixing something up in here?

As said, the Workers all do the same Task, but each worker has access to a different part of a resource, so it's important for each Job to go to the right Worker that has access to the part of the resource the Job is for.
If I start creating a new Queue for every Shard, I would end up with 20-60 (depending on the project scale)

[2020-10-24 00:43] drone1 commented on #270
Do you have some idea when it will be available?

How different is it from bull?

Thank you.

[2020-10-25 03:54] gajus opened #298 "jobs with {removeOnComplete: true, removeOnFailed: true} remain in Redis"
[code]

[2020-10-25 03:55] gajus commented on #298
It looks like it got removed after some time. It would be good to know / document the logic behind it.

[2020-10-25 05:37] gajus commented on #298
Never mind. This task is not completed.

[2020-10-25 05:37] #298 closed

[2020-10-25 16:29] drone1 opened #299 "Exceptions in QueueEvents fail silently"
[code]

I had a problem in my 'completed' code and no callstack was printed or exception thrown, etc. If you want more info LMK, but this should be straightforward to repro. BullMQ 1.10.0.

[2020-10-25 20:48] manast commented on #299
This is the way events works in node, you will need to wrap the code that can fail with try/catch and report the error with logs or similar.

[2020-10-25 21:13] drone1 commented on #299
Ah OK. Thanks a lot.

On Sun, Oct 25, 2020 at 9:48 PM Manuel Astudillo <notifications@github.com>
wrote:

[2020-10-26 07:52] #299 closed

[2020-10-27 00:22] gajus opened #301 "Add a way to expire jobs"
If a job is not accepted within X seconds, I would like to expire it.

I've had cases where a queue of job would build up with thousands of pending tasks.

Whenever Worker service started it would crash soon not able to keep up with the pressure.

This will result in more tasks, etc.

This could be at least partially mitigated by indicating a time after which job should no longer be attempted.

[2020-10-27 09:06] evolkmann opened #302 "Port BullMQ to Deno"
Regarding your question about which languages to port BullMQ to ([Twitter](https://twitter.com/manast/status/1318168684049977345)), I want to make the suggestion to port it to [Deno](https://deno.land).

A few arguments (personal opinion):
- There is already a [redis client for Deno](https://deno.land/x/redis)
- Deno is a natural choice for current node developers who want to evolve with the ecosy

[2020-10-27 18:56] loris opened #303 "Question: dynamic queue isolation"
Hi @manast
Quick question to get your insight on the following use-case:
Let's say I have a SaaS and use Bull to deal with jobs for thousands of customers. At one time, customer A makes an action which enqueue a large amount of jobs in Queue X. Those jobs are quite expensive, and the customer A jobs will take an hour to complete. A few minutes later, customer B makes another action, which also enq

[2020-10-27 21:15] manast commented on #303
This is a very good question and a situation that is quite common. Currently there is not a perfect solution for this in BullMQ but I have been thinking about it in the past. Ideally what we want is some kind of "demux" where you connect multiple queues, potentially thousands of them and then you connect the workers to the demux consuming them in a round robin fashion, so that all customers get a

[2020-10-28 11:34] loris commented on #303
Thanks! Interesting idea around the "demux" concept.
Regarding the workarounds, correct me if I'm wrong, but increasing concurrency or worker won't change the fact that customer A jobs will need to be all completed (because they were enqueued before, as in FIFO) before customer B jobs get processed, right? You just reduce the overall waiting time for customer B jobs?
I might have a shot on working

[2020-10-28 11:49] manast commented on #303
yes, it will just mitigate the problem not resolve it.

[2020-10-29 06:24] david-wb commented on #187
Hello, I see this issue has been open several months, but I'm facing the exact same problem on GCP with Redis 5. How did you get around it?

[2020-10-29 09:30] #303 closed

[2020-10-30 14:49] JeyRathnam opened #304 "Documentation : Delay in "Queues" page is misleading"
Link : https://docs.bullmq.io/guide/untitled (Might need URL fix as well?)

Documentation for Queue states delay can be added via the options object. But it doesn't actually specify that delay needs a QueueScheduler instance to work.
As a suggestion, can add the same prompt from the "Delayed" section to Queue documentation page.

Something similar to this:
![image](https://user-images.githubuserco

[2020-11-04 13:14] 5achinJani opened #305 "cron expression error and cron job not working as expected."
According to the [docs](https://docs.bullmq.io/guide/jobs/repeatable)
![image](https://user-images.githubusercontent.com/23077544/98113804-2fda6100-1eca-11eb-9695-ffa24a40dcac.png)

First thing is the [cron expression](https://www.freeformatter.com/cron-expression-generator-quartz.html) link that you've mentioned in the docs results in error with "Unexpected end of expression."
![image](https://us

[2020-11-04 13:27] 5achinJani commented on #305
This doesn't look cron expression or [parser](https://www.npmjs.com/package/cron-parser) specific to me cause I even tried this :
[code]

And it keeps triggering every second and doesn't stop too.
![image](https://user-images.githubusercontent.com/23077544/98117164-5353da80-1ecf-11eb-9df5-d3d9832c5512.png)

I restarted my redis server and node server for both the cases just to make sure but it is

[2020-11-04 15:02] manast commented on #305
You need to delete the repeatable job in order to stop it, either that or do a "flushall" on redis.

[2020-11-05 05:21] 5achinJani commented on #305
Thank you for the response. So the better practice would be to [get](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queuegetrepeatablejobs) the repeatable jobs and [remove](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueremoverepeatable) them then register then cron jobs for every node server deployment or on local node server start/live-reload right?

[2020-11-05 05:38] 5achinJani commented on #305
Also the cron expression part error "Unexpected end of expression." can also lead to confusion as it did for me so my suggestion would be to update the docs if you think the confusion concern that I raised is right.

![cron expression error](https://user-images.githubusercontent.com/23077544/98113804-2fda6100-1eca-11eb-9695-ffa24a40dcac.png)

![cron expression error](https://user-images.githubuser

[2020-11-05 07:46] manast commented on #305
Depends on your use case. Often you have some fixed set of cron jobs and then you do not need to do that.

[2020-11-05 18:35] sbleon commented on #305
@5achinJani, "15 3 * * *" is definitely a valid cron expression:
![Screen Shot 2020-11-05 at 1 30 20 PM](https://user-images.githubusercontent.com/198711/98281720-19d0ad00-1f6b-11eb-996e-143ae9b1bedc.png)
See also: https://en.wikipedia.org/wiki/Cron

It look like the tool you're using is trying to evaluate the expression using as a "Quartz cron" expression, which is a non-standard format. (In my o

[2020-11-05 19:06] sbleon opened #306 "Recurring jobs sometimes run immediately when added to queue"
Sometimes, when I add recurring jobs to a queue, starting with a completely empty Redis, an instance of the job is immediately executed. Has anyone else seen this happen?

[2020-11-05 21:33] manast commented on #306
Picture this: time is divided in slots separated by your repeating interval, the slots are fixed, the need to be so that all workers are in consensus on when the next repeatable job is supposed to be repeated. If you happen to add the recurring job very close to the next slot it will be executed directly.

[2020-11-05 21:36] manast commented on #306
btw, this is also the way standard cron jobs works AFAIK.

[2020-11-06 04:43] 5achinJani commented on #305
@sbleon Thanks for the info :) I was following expression evaluator that bullmq has the link of it the docs : https://docs.bullmq.io/guide/jobs/repeatable

https://github.com/taskforcesh/bullmq/issues/305#issuecomment-722154211

[2020-11-06 04:46] 5achinJani commented on #306
I did see this in https://github.com/taskforcesh/bullmq/issues/305 but in my case the redis was not empty [flushing](https://github.com/taskforcesh/bullmq/issues/305#issuecomment-721784213) it resolved it.

[2020-11-06 06:31] 5achinJani commented on #306
I can confirm this happened with me today when I started my node server. I didn't make any changes in the job config or anything nor in redis.

npm start:
You can see the job triggered console log.
![image](https://user-images.githubusercontent.com/23077544/98333612-2c102100-2027-11eb-98f7-840be3db8ad4.png)

After that I did live-reload and killed and restarted the node server it seem to be workin

[2020-11-06 20:30] sbleon commented on #305
Oh, wow! It's pretty bad to have that link in the docs. That should definitely be changed.

[2020-11-10 08:19] Migueld37 opened #308 "Implementing a /status endpoint"
Hey everyone,

I'm trying to implement an endpoint that will allow the user to poll the status of a specific job. After the user adds a job to the queue, the API will return instantly with a job id and allow clients to periodically poll a /status/:id endpoint which will get the current status of the job with the id until the job succeeds or fails.

Does bullmq support my use case? I heard I could

[2020-11-10 16:17] ccollie commented on #308
`bullmq` can do this handily - either by polling, or better by using the `QueueEvents` class). FYI, i'm working on a `graphql` api over bull which includes this as a subscription.

[2020-11-11 03:00] Migueld37 commented on #308
Could go into a bit more detail on using QueueEvents for my polling endpoint?

[2020-11-11 03:54] ccollie commented on #308
Check out the [event docs](https://docs.bullmq.io/guide/events)

For any queue, you can register callbacks for events of interest (e.g. state changes), and the relevant callbacks have the job id. You can have an in-memory cache that gets set with the status of your job, rather than having to call `queue.getJob()` on every call to the polling end point.

 Make sure to remove the event listener when

[2020-11-11 03:56] ccollie commented on #308
By the way, the doc page seems outdated. It's best to look at the source:

https://github.com/taskforcesh/bullmq/blob/master/src/classes/queue-events.ts

[2020-11-11 08:42] AlexSenchenko opened #309 "ioredis vs redis support"
Does bullmq support redis package?
In doc I saw that it is support ioredis only.

[2020-11-11 09:06] manast commented on #309
BullMQ depends on ioredis.

[2020-11-12 04:42] kodeine commented on #215
@manast was this fixed? i am still getting this on latest version!

[2020-11-13 09:08] manast commented on #215
@kodeine what exactly are you still getting on the last version?

[2020-11-17 02:29] oallanmendes commented on #53
This solved my problem! November 2020.
Thanks!!!

[2020-11-17 15:24] ATheCoder opened #312 "an event where all of the jobs inside the queue are done"
My use case is that each worker makes a folder to put their associated data inside and when the worker doesn't have any job to do it will empty that folder on the `drained` event. However when the `drained` event fires, the worker might be doing another job because `concurrency` is set to `30`, so the data for the ongoing jobs get lost because the `drained` event gets called before the worker has

[2020-11-17 15:43] manast commented on #312
No, there is no such event. However it should be feasible if you setup a new listener for "completed/failed" after the drained event has triggered and in this listener you check if there are any active jobs, if not fire your custom event.

[2020-11-17 17:35] ATheCoder commented on #312
@manast

How would I check if there are any active jobs inside the listener of `completed/failed`?

[2020-11-17 17:54] ccollie commented on #312
[code]

[2020-11-18 07:52] manast commented on #312
I will close this since I consider it resolved.

[2020-11-18 07:52] #312 closed

[2020-11-19 02:57] einsone opened #314 "API to get QueueEvent from Job"

[2020-11-19 03:52] einsone commented on #314
JobsOptions.timeout not works

[2020-11-19 09:42] Migueld37 commented on #308
So I made some good progress, ran into some trouble retrieving the return value after the job is complete.
` queueEvents.on('completed', async ({ jobId, returnvalue }: QueueEvent) => {
    logger.debug('Job ${jobId} is now complete');
    const data = {
      status: 'completed',
      data: returnvalue,
    };`
Return value stays null for whatever reason. Appreciate all the help ccollie!

[2020-11-19 11:33] sibelius opened #315 "migration example"
I've made a pull request to show how to migrate from bull to bullmq

https://github.com/sibelius/bullmq-named-example/pull/1

https://twitter.com/sseraphini/status/1329386838256136195

[2020-11-19 11:33] #315 closed

[2020-11-20 15:43] janfietz commented on #247
I had the same issue. I promoted a repeating job with bull board. It disappeared from the delayed list and never came back.

[2020-11-23 10:25] DaniSchenk opened #317 "Build fails due to BullMq import errors"
Similar to https://github.com/taskforcesh/bullmq/issues/129 my `tsc` build fails with the following errors:
[code]

Version details:
[code]
tsconfig.json:
[code]

How can I solve these build errors? Thx in advance

[2020-11-23 19:49] tylergets opened #318 "Dependency on @types/ioredis is redundant"
This package depends on @types/ioredis however this package shouldn't be required as ioredis is written in TypeScript

This prevents me from passing in a native ioredis

https://github.com/taskforcesh/bullmq/blob/master/package.json#L26

[2020-11-23 20:16] manast commented on #318
ok. For the record, when I started writing bullmq, ioredis was still plain javascript. If you do not mind you could create a small PR removing that dependency and I will gladly merge it.

[2020-11-25 14:09] jamesholcomb commented on #240
Related issue https://github.com/taskforcesh/bullmq/issues/240 was funded on IssueHunt.

[2020-11-25 16:54] manast commented on #240
What about the case when the job has already started and suddenly a new jobs comes in, should this last job be ignored, executed after the current one that has started has completed or cancel the current one replacing it?

[2020-11-25 17:26] jamesholcomb commented on #240
How about for the debounce scenario, if a job has started, it has passed the debounce window, so an `upsert` request would be a read+add op.  The read op within the `upsert` would return no results for jobs that have already started.

[2020-11-26 09:00] manast commented on #240
@jamesholcomb ok, so you mean that if the the job has started is because the debounce window has "expired" and now adding would imply adding a new job whereas the one that has started will continue normally until completion?

[2020-11-26 09:12] Sedatb23 commented on #215
@manast The issue regarding 'Missing lock for job xx', still exists. You mentioned that there should be an internal listener now, I can't however seem to find it?

[2020-11-26 09:21] manast commented on #215
@Sedatb23 I am not sure what issue you are referring to. It is best that you open a new issue with code that demonstrates a bug so that I can look into it.

[2020-11-26 13:58] jamesholcomb commented on #240
Yes.

[2020-11-27 11:19] DaniSchenk commented on #317
Fixed my issue by setting `"esModuleInterop": true`

[2020-11-27 11:19] #317 closed

[2020-11-27 16:22] sheinze commented on #171
I'm developing an app running in parallel with the redis instance using docker-compose  and even though, it is given the correct connection object like shown by @adlion, the connection is not established inside the docker network, but instead it gives the following error.

`[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379`

 It is the same, if one create the IORedis obje

[2020-11-27 19:32] rogueturnip opened #320 "RRULE - RFC5545"
I want to ask has anyone done a conversion from an RRULE to creating scheduled reoccurring tasks in bullmq?
https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html

[2020-11-27 19:59] DaniSchenk commented on #171
@sheinze I had the same error hours ago. In my case I forget to set the connection options on my `Worker`
[code]
During development no errors were thrown, because I had a Redis instance running on localhost and the default connection options worked.

[2020-11-28 00:58] adlion commented on #171
@DaniSchenk the issue is not in the first connection or when the server is live.
The issue is when you have a first connection and than suddenly Redis is unavailable. It will start to throw errors and will fill your logs with that error.
How to catch that error, or to format it in a readable way?

[2020-12-01 03:11] demelvin commented on #237
I spent hours trying to figure out why my jobs were not repeating. This solved my issue.

[2020-12-02 10:28] DaniSchenk commented on #317
Somehow a wrong import sneaked into my Code
[code]

[2020-12-03 13:32] Crazy-kun opened #322 "Method pause() removes all waiting jobs."
If i call .pause() of queue, all waiting jobs will be removed from this queue.

[2020-12-03 13:34] #322 closed

[2020-12-03 15:03] marcjlyoung opened #323 "GCP Unknown Client Command"
So I use GCP to handle Redis and noticed this error,

`ERR unknown command `client`, with args beginning with: `setname`,

I believe this was fixed in Bull. Workers do not start at all as long as this error is present.

I managed to fix it using the shady workaround:
` IORedis.prototype.client = function () {};`

Any better ways of doing this?

[2020-12-04 11:04] acro5piano commented on #225
@immortalx

Hi, thank you for your amazing work.

I also need this feature. Do you know what is the current status of the feature? Thanks

[2020-12-04 11:06] acro5piano commented on #320
@rogueturnip
Do you think cron syntax is not enough?

[2020-12-04 17:17] rogueturnip commented on #320
Cron would be fine if there was a conversion from RRULE.  I'm finding that this is common across calendering and task management and it would be very handy to leverage that syntax.

[2020-12-05 12:06] paeolo opened #324 "Remove client property from QueueBaseOptions"
[QueueBaseOptions](https://github.com/taskforcesh/bullmq/blob/7372ef16465fdf7d3c803a9cd9c1a25422d53373/src/interfaces/queue-options.ts#L11) exposes both a `client` and a `connection` property. The connection property can be either `RedisOptions` or a `Redis` client, so it seems the `client` property is redundant.

And indeed, [looking at the code](https://github.com/taskforcesh/bullmq/blob/7372ef1

[2020-12-05 17:06] acro5piano commented on #320
@rogueturnip
Oh you want RRULE to cron converter.
As far as I know, there are no such things at least written in JS... You seems have to write your own converter.

- https://github.com/jakubroztocil/rrule/issues/51
- https://github.com/simshaun/recurr/issues/169

[2020-12-05 18:58] rogueturnip commented on #320
I may have found something.  I have to test it to be sure but if anyone is curious.
[code]

[2020-12-06 10:54] mariusa opened #325 "install using npm?"
Hi, would you please add install step using npm instead of yarn? eg
[code]

[2020-12-07 11:30] grapevineai opened #326 "Discarded jobs stay in the same state"
I don't know if it's an intended behavior, but IMHO a discarded job should have a "discarded" state and not stay in the same "delayed" state (I didn't test the other states). There should be an additional type...

[2020-12-07 12:11] grapevineai opened #327 "How to use moveToFailed and moveToCompleted"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/taskforcesh/bullmq/issues/327)

These two functions are different from v3 and I just don't know what to set for the token.

`job.moveToFailed(new Error('failed message'), ???);`

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $40.00)

[2020-12-07 21:50] Migueld37 opened #329 "Jests Tests Hanging"
Hey Everyone,

I'm having some trouble getting my jest test suite to close. I have a strong feeling it's because I'm not closing the worker and queue properly? What's a good place to do that? This is what I'm doing now:

[code]

[2020-12-08 01:32] ccollie commented on #329
Not sure if this is the issue, but at a glance, you're not disposing of `queueEvents`

[2020-12-08 04:28] Migueld37 commented on #329
Would I do that in my 'failed' and 'completed' listeners?

[2020-12-08 07:52] manast commented on #329
I am going to close this since it is a general nodejs question and affecting a specific use case not directly related to BullMQ. For  generic support questions I recommend stackoverflow.

[2020-12-08 07:52] #329 closed

[2020-12-09 04:48] yoonslee commented on #53
FYI, I fixed this issue by passing a Redis connection to the Worker, which I somehow forgot to do. Everything worked as expected after!

[2020-12-09 08:44] Glyphack opened #330 "What is rule of QueueScheduler?"
according to docs we need a queue scheduler in order to have delayed jobs and from docs example one has to declare it like:
[code]
My question is that isn't there any functionality we want from a queue scheduler? as we are working with the basic Queue to add jobs.
so The above example and this one is equivalent:
[code]

[2020-12-09 10:48] NDT36 commented on #327
![image](https://user-images.githubusercontent.com/44062844/101620099-b7c20680-3a46-11eb-8d9c-4b4744c85db9.png)
here

[2020-12-09 10:51] grapevineai commented on #327
@NDT36 thanks but not related... please read carefully the issue!

[2020-12-09 22:11] #320 closed

[2020-12-09 22:47] brianschardt commented on #323
Running into this same issue on GCP.

[2020-12-09 22:51] brianschardt commented on #323
How do you fix this in typescript your solution doesnt work for me. I get the error
[code]

[2020-12-09 23:17] marcjlyoung commented on #323
So you will need to npm/yarn install IORedis, then import * as IORedis from "IORedis" in the same file you overwrite the prototype and create the worker.

We need to import the package because we need to override the IORedis package that bull mq uses in order for it to stop calling the blocked client command on gcp.

It is a silly issue, and has been fixed in the vanilla bull.

[2020-12-09 23:30] marcjlyoung commented on #330
Both examples will work.

I believe you only need to instantiate the queue scheduler so it establishes a connection to Redis in order to setup the delayed jobs.

[2020-12-10 10:11] motawy opened #331 "Configuration BullMQ"
I'm looking into bullmq to use it to retry failed jobs.
I have it running as a separate process only to reprocess failed jobs from a separate queue (rabbitmq).

The only thing I'm concerned is the fact that it looses the lock on a job and fails with failedReason undefined.

The job is processing is post to addresses that sometimes might be unreachable. I set up the bullmq to retry with exponential

[2020-12-10 11:00] acro5piano commented on #320
@rogueturnip Cool. I think you should publish it to NPM too save other people!

[2020-12-10 19:58] DaniSchenk commented on #327
@grapevineai the `Queue` instance your `Worker` is working on has a `token` property. Providing it in `moveToFailed()` seems to work in my case.

[2020-12-11 01:35] brianschardt commented on #323
I keep getting this error in gcp:
[code]
Do you think it is related to this?

[2020-12-11 01:44] brianschardt commented on #183
Im getting the same error, if I have attempts > 1. Any solutions?

[2020-12-11 21:15] PaulGrimshaw opened #336 "Increasing connection and listener count"
We are using sandboxed workers in BullMQ but are regularly getting "MaxListenersExceededWarning:" and also "ERR max number of clients reached".  Is there a way to reuse redis connection pool in a sandboxed job, or make sure that the connections get closed after each job run?

Increasing limits just extends the time before we see the issues.

[2020-12-12 11:45] marcjlyoung commented on #323
@brianschardt I think it's unrelated, after my solution the queues are working fine in our production environment.

[2020-12-12 21:29] paulo-digital commented on #126
Hi, I would like some heads up over this feature too. Some code sample, a diagram or anything  would be large appreciated it.

[2020-12-14 10:54] grapevineai opened #337 "Handle connection errors on startup"
I have tested a very simple use case:
[code]
If I start my app while redis is running and then stop redis, everything works fine and the "handling error" is the only function being called. However, if I start my app while redis is not started yet, I get the following errors:
[code]

BullMQ v1.11.0

[2020-12-14 11:11] killthekitten commented on #323
The issue that tracks it in the bull repo is here:

https://github.com/OptimalBits/bull/issues/1002

[2020-12-14 12:52] grapevineai commented on #327
@DaniSchenk Got the same issue...

@manast Any recommendation here?

[2020-12-14 22:35] JosephScript commented on #187
Doesn't look like it's possible at all. Not until GCP adds the `client` command to supported commands, which there is no mention of. You're going to need to either choose another provider or roll your own via docker/k8/compute engine/bitnami, or some other method.

[2020-12-14 23:13] marcjlyoung commented on #187
This was fixed inside of vanilla bull :) while we wait for the commit you can use the work around I posted to get the worker to connect.

The [fix](https://github.com/taskforcesh/bullmq/issues/323)

[2020-12-14 23:35] david-wb commented on #187
@marcjlyoung Thank you, yes that's exactly what I did actually. I hope it is fixed in bullmq soon.

[2020-12-15 02:37] #314 closed

[2020-12-15 09:00] manast commented on #326
As the documentation states, a discarded jobs just means it will not be retried in the case of failure: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#jobdiscard

[2020-12-15 09:00] #326 closed

[2020-12-15 09:47] manast commented on #330
@Glyphack somewhere you probably want to have a graceful shutdown and in that place call ```myScheduler.close()```

[2020-12-15 09:47] #330 closed

[2020-12-15 09:50] manast commented on #331
Missing lock should never happen in normal circumstances. The only reason this should happen is if the worker is very CPU intensive (or is working on a CPU that is saturated by other processes) so that the worker is not able to renew the lock on the job. If this is not the case I would like to know more about your case, and ideally if you could write some code that reproduces the issue.

[2020-12-15 09:52] #325 closed

[2020-12-15 09:58] manast commented on #183
@brianschardt can you open a new issue with code that reproduces the issue, because attempts and prefix are unrelated settings.

[2020-12-15 10:11] manast commented on #336
MaxListenersExceededWarning is related to the number of listeners that you have setup, it is just a warning from nodejs so that you make sure you are not leaking listeners. As long as this number increases according to your expectations it can be ignored, but if it just keeps increasing and increasing over time it is probably a leak (I do not think the leak is in BullMQ though).
Regarding max numb

[2020-12-15 10:28] marcjlyoung commented on #323
This is issue was fixed in the latest [release](https://github.com/taskforcesh/bullmq/commit/9aba722f41b390b5a5eeeeeba7c51b4f87cd87c7)

[2020-12-15 10:28] #323 closed

[2020-12-15 10:28] marcjlyoung commented on #187
This issue was fixed in the latest [release](https://github.com/taskforcesh/bullmq/commit/9aba722f41b390b5a5eeeeeba7c51b4f87cd87c7)

[2020-12-15 10:29] #187 closed

[2020-12-15 10:40] manast commented on #327
@grapevineai these methods are considered private in BullMQ, however we could make them public as a new feature, so that we have proper tests and can guarantee that they work.

[2020-12-15 10:41] manast commented on #327
what is your use case by the way?

[2020-12-15 11:45] DaniSchenk commented on #327
I start a long running background task via HTTP request using `job1`. The immediate response would be an ID. I'm using this ID in `job2`, `job3`, `job...` to check the status/process of the request made in `job1`.

Let's say `job1` fails. One of the status checking jobs will observe this failure. In case of a failure I want to move `job1` to the list of failed jobs.
It would make it easier to trac

[2020-12-15 12:38] manast commented on #327
@DaniSchenk you say that job1 fails but it was moved to the completed list anyway because its creation was successful. Why can't you just throw an exception if the job1 fails instead of completing before you know if it has failed or not?

[2020-12-15 13:18] grapevineai commented on #327
@manast My use case is the following:
- I have delayed jobs pending
- I realize my jobs won't be able to run after few of them completed
- I want to "discard" the remaining jobs and move them to failed (so I can keep track)

[2020-12-15 13:29] DaniSchenk commented on #327
@manast I think I explained my use case a bit ambiguous. I'll try it another example:

`job1` makes HTTP request to another service
Request was successful -> `job1` is moved to completed

**five minutes later:**
`job2` makes HTTP request to the other service to check status of a process initiated by `job1`
Request was successful -> `job2` is moved to completed

**But** response data of `job2` indi

[2020-12-16 10:58] motawy commented on #331
@manast Thanks for the reply! Unfortunately it's hard to share code since it's quite a big project where I decided to integrate bullmq.

From your reply is very likely that was the case. The use case is the following.
The system is a webhook service. There are 4 other services that send jobs through rabbitmq to this one. The issue comes after validating the payload and trying to make a post reques

[2020-12-16 11:46] tamired opened #341 "Error: EMFILE: too many open files"
Hello, we're migrating from Bull to BullMq and during first load testing we started getting this error thrown by the Bullmq instance: Error: EMFILE: too many open files, scandir '/app/node_modules/bullmq/dist/commands'.

Our queue handles very large job amounts (aprox 500K) that are triggered in bulks (1K each bulk). With Bull, we used to run 5 app pods with 100 workers on each pod and tested anot

[2020-12-17 11:25] grapevineai opened #342 "Pull next job from queue to process"
I'm having a conceptual issue with the current implementation. I would like to "distribute" the next job in the queue for each client that connects to the server (through a websocket message). Once the job is done by the client, he can request the next job.

With a worker that is constantly listening to the queue to process the next job, I don't see how I can implement what I need.

Any recommenda

[2020-12-17 14:02] #331 closed

[2020-12-17 15:23] #342 closed

[2020-12-17 15:24] grapevineai commented on #327
@manast Any chance we can get that public? It's public in v3 why was it removed?

[2020-12-20 02:38] thislooksfun opened #343 "Is it bad to have multiple instances of QueueScheduler running simultaneously?"
I'm making an app with a pronounced delegator/worker hierarchy, and the delegator isn't going to be running 100% of the time, but I want the workers to keep processing delayed jobs even while the "main" process is asleep. I'd prefer if the workers were entirely independent for maximum lateral scalability, and they're the only pieces which will be running all the time. Thus my idea was to just have

[2020-12-20 15:34] manast commented on #343
Please let me know if this documentation answers your question: https://docs.bullmq.io/guide/queuescheduler

[2020-12-20 15:49] manast commented on #327
It has not been removed, BullMQ is written from scratch and this functionality has not been ported/implemented yet. It is fairly straightforward to implement, yet some tests and documentation is also needed. I create a bounty for this:
https://issuehunt.io/r/taskforcesh/bullmq/issues/327

[2020-12-20 18:13] thislooksfun commented on #343
@manast It does! That's what I figured, I just wanted to make sure they wouldn't step on each other's toes.

[2020-12-20 18:14] #343 closed

[2020-12-21 13:00] pc-jedi commented on #264
Ping @manast

[2020-12-21 13:00] pc-jedi commented on #263
Ping @manast

[2020-12-21 13:29] manast commented on #263
The documentation is correct. The test is not testing what you highlighted, it is testing, maybe clumsily so, what the documentation says.

[2020-12-21 14:05] #264 closed

[2020-12-21 14:08] manast commented on #341
You could debug this issue by figuring out which files are actually being opened, that would be very useful to find the root of the issue:
https://serverfault.com/questions/138297/how-to-track-all-files-a-process-opens-in-its-lifetime

[2020-12-21 23:48] bluecomm42 opened #347 "Global job history limits"
I want to prevent my redis database filling up with old jobs. I know that there are the job options `removeOnComplete` and `removeOnFail`, but as far as I can tell those have to be passed *every* time I add a new job. Is there a global option I can specify so that I can cap it to say the last x jobs without having to specify those params every time I add a job?

[2020-12-22 10:11] manast commented on #347
Please let me know if this documentation is enough: https://docs.bullmq.io/guide/jobs/fifo#default-job-options

[2020-12-22 18:03] clouedoc commented on #261
Hi,
I'm searching for this API too

[2020-12-22 21:00] bluecomm42 commented on #347
@manast it does, but shouldn't the key be `removeOnFail`, not `removeOnFailed`?

[2020-12-22 21:35] joeyfigaro commented on #297
Any updates here?

[2020-12-22 21:36] joeyfigaro commented on #295
Same for most patterns currently listed in the sidebar:

https://docs.bullmq.io/patterns/producer-consumer
https://docs.bullmq.io/patterns/real-time-updates
https://docs.bullmq.io/patterns/sender-receiver
https://docs.bullmq.io/patterns/working-with-batches
https://docs.bullmq.io/patterns/idempotent-jobs

[2020-12-23 00:08] norberto-e-888 opened #349 "QUESTION: Worker class generic type arguments"
The Worker class seems to be able to receive 3 generic type arguments; what are they and what effect does each one have?

[2020-12-23 00:10] #349 closed

[2020-12-23 00:11] norberto-e-888 commented on #349
I inspected my node_modules and answered my own question

[2020-12-23 00:12] norberto-e-888 commented on #349
For anyone that might have wondered the same, the first argument is the job.data, second is its return value, and the third is the type of job.name.

[2020-12-23 09:22] manast commented on #297
@joeyfigaro there is nothing to update really... Names are just convenience sugar, there are no hidden functionality around them. If you have a specific use-case that cannot be addressed today it is better to create a new feature request.
I will close this issue now to avoid confusion as if there is something more to do in it.

[2020-12-23 09:22] #297 closed

[2020-12-23 09:27] manast commented on #347
yes, a typo, I fixed it now.

[2020-12-23 09:27] #347 closed

[2020-12-24 15:53] sbleon commented on #306
Thanks, @manast . I somehow missed your timely response!

If it is currently 12pm, and I schedule a job for 2am every day, that would not count as "very close to the next slot", right?

[2020-12-24 16:03] sbleon opened #351 "Repeatable jobs are not always run consistently"
It doesn't look like repeatable jobs are running consistently on our servers. For example, here's some logs from one of my servers. The "Redis connection status" lines are generated via a function scheduled with `setInterval` to run every minute in my main background worker script, and they always appear on schedule. The "Running job" lines are generated every time a background job is run, and `jo

[2020-12-25 11:30] manast commented on #351
Could it be that the servers are suffering from high CPU or IO load? Can you provide a minimal test case where this behaviour is exhibited?

[2020-12-26 14:25] StErMi opened #352 "Error: connect ECONNREFUSED 127.0.0.1:6379 even if I specify AWS host and port"
Hi all, I've configured the connection to use an AWS Redis instance specifying both port and host in the connection options but when I deploy the docker image I get this error as if it's not using those options.

What could be the problem? The same configuration is used for both the Queue and Worker.

[2020-12-26 17:01] manast commented on #352
for some reason you are not passing the host and port correctly in your docker image, I do not think we can provide you any more help about this issue...

[2020-12-27 10:31] manast commented on #306
@sbleon no, that would not count.

[2020-12-28 11:36] grapevineai commented on #327
@manast I'm willing to contribute to this bounty, but I need to make sure I can achieve the ultimate result with that. It seems that `getNextJob()` is also not part of the new API. How can we use BullMQ if the job is performed by a third party?

Let's say, my clients connect to the server to get the next job. They perform the job on their own and send the result once done. I thought that by using

[2020-12-29 03:13] sgpinkus commented on #352
Just had same issue. @StErMi It could be a versions. The connection interface has changed between BullMQ and Bull. The [Bull API docs](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queue) are not compatible with BullMQ and there are no BullMQ API docs (AFAICT, CC @manast). I think you have to read the [guide](https://docs.bullmq.io/guide) to try and the BullMQ API changes.

[2020-12-29 11:06] manast commented on #352
The API documentation is coming. Best is to use Typescript of course, then you will never get this kind of errors. I will close this for now since there does not seem to be any bug.

[2020-12-29 11:06] #352 closed

[2020-12-29 11:25] manast commented on #327
Yes, they will need to call ```getNextJob()``` otherwise there is no job to move since moving jobs that are already being automatically being processed by workers is not a good idea. But of course making ```getNextJob``` public will also be part of this implementation.

[2020-12-29 11:28] grapevineai commented on #327
@manast How long will it take to get these three functions done (from when the bounty is fully covered)? Is it a matter of days/weeks/months?

[2020-12-29 13:51] StErMi commented on #352
Nope, it was not a bug, it was just me that had updated all the connection config but not in the `QueueEvents` and those logs were not helping to identify who was throwing the error.

[2020-12-29 15:08] manast commented on #327
days

[2020-12-29 15:43] sbleon commented on #351
Thanks for getting back to me, @manast. The servers are not heavily loaded at all. I'll see what I can do for a repro case.

[2020-12-29 16:36] sbleon commented on #351
I think this is partially or entirely a PEBKAC error. 😬  I forgot that I have several background workers running, on different servers, and that any one of them will run the scheduled job at each execution. So of course looking at the logs on only one server is going to show lots of apparently missed jobs.

However, when I look at the logs for all servers in aggregate, it still looks like there mi

[2020-12-30 13:50] #327 closed

[2020-12-30 15:00] manast commented on #327
Documentation: https://docs.bullmq.io/patterns/manually-fetching-jobs

[2020-12-30 19:35] francescov1 opened #358 "Rate limiter per job name"
Want to explore the possibility to rate limit a queue based on the job name. This would be a worker-level config which would enable applying a rate limiter to **specific job names**.  This would be similar to the `groupKey` but would remove the need to pass an extra groupKey param in job data, the job name itself would act as the groupKey. I like this because it centralizes the rate limit implemen

[2020-12-30 22:27] airhorns opened #359 "Repeatedly pausing a worker can cause it to starve the event loop"
This is a weird one, but, in my application I have a reliable reproduction where pausing and resuming a BullMQ worker 3 times almost always prevents the rest of the async application from making any progress by preventing the event loop from making it to the poll phase. See https://snyk.io/blog/nodejs-how-even-quick-async-functions-can-block-the-event-loop-starve-io/ for a breakdown of what's happ

[2021-01-01 11:10] acro5piano commented on #225
I've ended up to add `removeOnComplete` to remove completed job's hashes.

[code]

[2021-01-02 11:37] manast commented on #359
thanks for the report. I do not think this is related to event loop blocking but with some hazard that appears when pausing/resuming quickly. It would be of great help if you could prepare a test case that reproduces this issue so that I can dig more into the details.

[2021-01-02 15:17] samtsai15 commented on #89
note : Google Cloud Memorystore for Redis already supported 5.0 on June 03, 2020

[2021-01-05 10:17] DaniSchenk commented on #327
Thank you both!

One will have to manually process the queue to use `moveToFailed()`?

My approach was to use it like this (simplified) in process functions:
[code]

[2021-01-05 10:20] manast commented on #327
You cannot fail a job that has already completed.

[2021-01-05 10:23] DaniSchenk commented on #327
Oh, ok. Thanks for clearing that up.

[2021-01-06 14:24] grapevineai commented on #327
@manast Thanks, works like a charm!

One last question, I'd like to extend the `lockDuration` on request. Since it's not possible to update that on the fly, I thought I could be able to remove the job, add the same job and finally attribute it again with an extended `lockDuration`. The problem is that I can't pick the newly created job from the queue (the only way to manually get the job is to cal

[2021-01-06 23:45] manast commented on #327
I released 1.14.0 with a new job method ```extendLock``` that you can use to extend the lock: https://docs.bullmq.io/patterns/manually-fetching-jobs

[2021-01-07 08:41] grapevineai commented on #327
That's awesome, thank you so much!

[2021-01-07 08:42] grapevineai commented on #327
That's awesome, thank you so much!

[2021-01-07 12:01] grapevineai opened #365 "Update job options on the fly"
It's currently impossible to update job options after it was added. It would be nice to implement this feature!

[2021-01-08 05:00] sspread opened #366 "Redis memory accumulates by job process return value"
Using base use case inspired by quick start docs https://docs.bullmq.io/

[code]

Every time I run the code above, the job is added to the queue and processed. Redis memory increases (almost?) linearly by `someData` size + some small amount.

I expect memory to decline after job is removed (which it supposedly is here - redis key `bull:queueName:{id}` not present upon completion.

Redis memory: `r

[2021-01-08 09:07] sspread commented on #366
UPDATE: The memory is accumulating under the Redis stream key namespace `:events`. Can resolve by setting queue options:
[code]
Note: doing this disallows use of the `QueueEvents` feature. Not sure how to determine a 'minimum' maxLen value to reliably use the feature.

[2021-01-08 09:09] Snitovets opened #367 "Discard or replace delayed job for a specific groupKey"
I'm looking for functionality to discard delayed job for specific groupKey or just replace with new one. Is there any way to search for delayed jobs by groupKey?

[2021-01-08 09:33] manast commented on #366
maxLen is 10000 by default. So memory should not increase after 10000 events have been emitted. This value depends on your system tolerance and amount of jobs per second. If you set it to 1 then it works like Bull v3.

[2021-01-08 10:53] manast commented on #365
When you say job-options do you mean the job data object or the options? It is easier to only update the data since updating options includes several edge cases, for example, if you change the option "delay" then it should affect the time the job is being delayed in the queue, etc.

[2021-01-08 12:54] Snitovets commented on #367
Solved with this:
[code]

[2021-01-08 13:29] grapevineai commented on #365
I meant the options such as delay...but I guess it makes sense to delete/recreate

[2021-01-08 13:29] #365 closed

[2021-01-08 17:47] sspread commented on #366
In my testing, setting to 0 results in zero net memory build after a job is run and removed (with QueueEvents being unusable). Setting to 1 still accumulates the memory the same way as not setting (leaving default). Strictly speaking with respect to memory behavior, it seems that using 0 and not 1 works like Bull v3.

[2021-01-08 18:02] manast commented on #295
The API reference is now accessible via the link above and auto-generated after every release. It can of course be improved, but it is there.

[2021-01-08 18:02] #295 closed

[2021-01-09 16:35] creativenoobie commented on #126
@manast I request you to please look into this issue. I have been waiting for so long for the documentation. 🥺

[2021-01-11 10:45] suhaotian opened #369 "I start the serve by DEBUG=*, Then I see the output every seconds, is that ok?"
I start the serve by DEBUG=*, Then I see the output every seconds, is that ok:

![image](https://user-images.githubusercontent.com/6512574/104171012-f4659100-543c-11eb-81e1-61ac01b5ef2e.png)

[2021-01-13 16:08] manast commented on #369
This is the output from ioredis not from BullMQ, what is your issue?

[2021-01-13 16:09] manast commented on #126
I know I know, but I think you are going to get a bit disappointed, this is mostly a pattern built on top of BullMQ not a native functionality atm.

[2021-01-13 16:55] #367 closed

[2021-01-14 03:19] suhaotian commented on #369
Hi, yeah it's from ioredis, but the write comand is from bullmq ..

[2021-01-14 08:55] manast commented on #369
That may be normal, depends on how you are using the queue...

[2021-01-14 10:12] manast commented on #366
It would be interesting to see how you are testing. There is one important consideration, in BullMQ we trim the events XSTREAM using nearly exact trimming (https://redis.io/commands/xtrim#nearly-exact-trimming). Which means that a maxLen of 100 for example will keep more than 100, but overtime the memory should not increase. In my tests the trimming is working so the memory should not increase unl

[2021-01-14 10:18] manast commented on #366
Btw, to help you debug, if you create a queue and add a lot of jobs to it, test by setting a maxLen value, like 100, and use "removeOnComplete" when adding the jobs, when the processing is ready redis will look like this:
[code]
you can issue the command XLEN on ```bull:test-2cde4f30-d751-4ba7-85fa-1d1b4909b1d4:events ``` and it will return some value slightly larger than 100.

[2021-01-14 16:54] suhaotian commented on #369
ok thank you for the response

[2021-01-14 16:54] #369 closed

[2021-01-14 18:11] creativenoobie commented on #126
As long as it works, I really don't mind if it's a pattern or native functionality.

Guide us, please?

[2021-01-14 18:53] paulo-digital commented on #126
I checked the code several times and that is nothing there similar to batch processing, the pattern (if exists) will force you to change the logic of your code. Something that you should do by yourself, if posible. If you really need to rely on batch processing in a queue, try another library.

[2021-01-14 19:03] vorillaz commented on #126
I was always awaiting a lot for this one and puzzled my head a ton trying to find out a pattern with Bull or Redis in general. My initial idea was using something a naive queue with TTL opts, no luck though.
For anyone interested, we implemented a tiny library for [in-memory batch processing](https://github.com/proximahq/rearguard/tree/main/batch). This is far from optimal but works in our case.

[2021-01-14 19:39] sspread commented on #366
I can confirm it works as you claim under my simple test case I wrote above. However under my actual use case, (if using maxLen 1), I can still see memory and XLEN growing with every job. I tried removing complexity from my implementation until I got it to work as expected. Here's what seems to be causing XLEN to stack (with maxLen 1).

Have 2 queues (both maxLen 1, removeOnComplete for jobs) and

[2021-01-14 21:23] manast commented on #366
@sspread If you could provide a test case that demonstrates the issue I can look into it. As far as I can see, we XTRIM when posting events and in my tests it works as it should.

[2021-01-15 23:01] manast commented on #126
I have an implementation that allows processing in batches, however this implementation requires loading a redis module, it is quite powerful and nice though.

[2021-01-16 02:40] ccollie commented on #126
@manast is this something that can be done in `lua` ? If so, I'd be willing to devote some time to implement it.

[2021-01-16 10:30] vorillaz commented on #126
@manast A repo or some guidelines would be amazing, especially if it allows concurrent processing. Looking forward to this one.

[2021-01-17 09:54] manast commented on #126
@ccollie the problem lies in that lua scripts do not allow blocking commands. However, if the queue has not drained, you could write a script that fetches a batch of jobs in one go. As long as it has  the queue has not drained you do not need to block, if it drains and you block, your next job will be a single job not a batch.

[2021-01-18 08:59] creativenoobie commented on #126
@manast Docs please? 😔

[2021-01-19 14:06] vasilevich commented on #304
can vouch, I just wasted way too much time breaking my head wondering why it doesn't work. if not for this issue I would have to switch to another library thinking its totally bugged.

[2021-01-19 14:20] manast commented on #304
@vasilevich ok, but it is documented in the documentation: https://docs.bullmq.io/guide/jobs/delayed

[2021-01-19 14:20] manast commented on #304
I will close this issue btw, since it is in fact documented.

[2021-01-19 14:20] #304 closed

[2021-01-19 17:44] JeyRathnam commented on #304
Pardon me for reopening this issue. The issue is not in the delayed page but in "Queues" page. Specifically this portion of the page:
![image](https://user-images.githubusercontent.com/6557230/105072467-d78c1780-5a53-11eb-9da5-f248202dbc75.png)

It mentions options can be used to change behavior of jobs and uses delay as an example. But it doesnt mention that delay needs QueueScheduler to actually

[2021-01-19 22:38] manast commented on #304
Allright, fixed now too: https://docs.bullmq.io/guide/queues

[2021-01-20 12:44] m-allanson commented on #352
I was running in to a similar issue publishing a project on Heroku.

It took a while to realise the problem was the missing `connection` option for my `QueueEvents`. This doesn't seem to be mentioned in the docs. It's in the API docs but fairly hidden away.

I made an example repo for myself while debugging, maybe it will be useful for someone else who runs into this: https://github.com/m-allanson

[2021-01-23 17:29] xiaoyu-tamu opened #373 "[Feature request] add queue event enum"
for better DX, please add comprehensive list of event name. Currently I have to find these keys in source code.

something like this
[code]

[2021-01-23 19:27] JaroslavPrt commented on #327
hi @manast, is it works ok with concurrency?

[2021-01-23 20:09] xiaoyu-tamu opened #374 "How to delete job with lock?"
I would like to clean all queue when shutdown in development, but looks like i'm not able to clean jobs with lock.

[code]

Logs

[code]

[2021-01-24 19:41] manast commented on #373
For global events, i.e., using the QueueEvents class you should get intellisense for the events, however for Worker and Queue this feature is missing.

[2021-01-24 19:42] manast commented on #327
@JaroslavPrt if you fetch the jobs manually then you have to implement concurrency manually as well.

[2021-01-24 20:02] francescov1 commented on #358
Any thoughts on this? Would like to start exploring it but want to ensure it makes sense first.

[2021-01-25 06:38] manast commented on #358
Functionally I think it seems like a nice fit, however I am not sure if it can be implemented cleanly in current design, I would need to look more deeply into it. You are welcome to start looking at it but limiting by groups is already a bit too complex for my liking so I would rather skip a functionality like this if it implies adding yet more complexity.

[2021-01-25 21:47] daeschlerdavid opened #378 "Unpredictable time for queue.add to complete"
Hello,

Is it normal for queue.add promise to resolve in a 1 - 10 seconds window ?
- Redis is on the same host as client/workers
- Redis database is almost empty
- Its a dev server, there is no others queues/jobs running

The fime for queue.add to resolve feels very random

Sometimes it is very fast:
[code]

And the next job it is very slow :

[code]

Here is redis-monitor output of job 48

[code]

[2021-01-25 22:04] #378 closed

[2021-01-25 22:04] daeschlerdavid commented on #378
solved, my queue events was using same redis connection from the queue

[2021-01-25 22:15] manast commented on #374
This is a bit tricky actually. You would need to make sure that none of the workers is still locking the job before you can delete it. Force a deletion could be dangerous since the worker is still working on the job so it may fail down the road...

[2021-01-26 08:00] alonbilu opened #379 "Will reschedule a failed/stalled job put it to the end of the queue?"
Hey guys
Short question if I may -

When a job (with a backoff strategy) fails, when is the next time it will be processed?
Immediately after the delay period has passed ?
**OR**
only after all remaining queued jobs completed?

If the later is correct, a follow up question:
Will a failed job with higher priority (than other reaming jobs) behave differently?

Thanks

[2021-01-26 09:16] manast commented on #374
A lock on a job uses a unique token that is generated for every Worker, so that only the worker that actually tool the lock is able to unlock it. Currently there is no "deleteLock" method, this function is performed atomically when moving a job to completed or failed  statuses, but if this function is necessary it would be easy to add it as a new method with an option like "override token" or "for

[2021-01-26 09:20] manast commented on #379
A retried job with a strategy works exactly the same as any delayed job, i.e. when time expires it is moved back to the head/front of the wait queue, meaning that it will be processed as soon as possible. Beware that if you have many delayed jobs and the jobs are slow then it could happen that the new jobs pushes the old ones back so they will indeed need to wait a few other jobs before they actua

[2021-01-27 17:17] grapevineai commented on #327
@manast Somehow, the lockduration doesn't work properly... First of all, the job stays in active state for 1 minute no matter what lockduration is set. Second, if the lockduration is too low or too high (I tries with 10sec and 10min), the job moves to the fail state after 1 minute.
I don't know exactly what's going on here but the lockduration doesn't seem to work at all.

v1.14.0

[2021-01-29 09:15] alonbilu commented on #379
Awesome. Thanks for the clarfication.

[2021-01-29 09:15] #379 closed

[2021-01-29 15:00] manast commented on #327
@grapevineai sorry for the late response. I will investigate this issue.

[2021-01-29 15:52] bennyKY opened #382 "Is there a way for multiple consumers?"
Hi, Bull uses Redis pubsub so it wont allow multiple consumers.
But Bullmq uses Redis streams so it should be feasible.
Is there a way to do it with Bullmq? If not maybe someone can advise how to achieve it without Rabbit or Kafka?

[2021-01-29 15:55] manast commented on #327
@grapevineai ok, I think I understand what is going on.

The ```QueueScheduler``` class is responsible for moving stalled jobs from active to wait if it considers the job stalled. However the mechanism for moving back to wait is independent of the locking. It will check once every ```stalledInterval```  which by default is 30 seconds. The first time it will put all the active jobs in a special set

[2021-01-29 16:26] manast commented on #382
Bull and BullMQ both support multiple consumers, just create as many workers as you see fit and they will consume your jobs in parallell.

[2021-01-29 16:28] bennyKY commented on #382
@manast
I think i wasnt clear, sorry for that. Im talking about broadcasting. Multiple services that consume from a queue. As far as i worked with Bull (1 year in production) if 2 services listening to messages from a queue only 1 services will receive the message.

[2021-01-29 16:39] manast commented on #382
Ok, so you mean fanout (https://en.wikipedia.org/wiki/Fan-out_(software)), i.e. same job to many consumers. That is not supported and there are no plans for it, in that case using XTREAMS is a really good solution if you do not want to experiment with more complex solutions such as Kafka.

[2021-01-29 17:14] manast commented on #382
@bennyKY I meant streams as you wrote on the issue, sorry for the confusion: https://redis.io/commands#stream

[2021-01-30 19:53] dan003400 commented on #53
Is there any reason `connection` does not accept just a redis connection string without the need of importing `ioredis`?

This seems very odd that you can pass in host / port but not only a string with full connection string...

[2021-01-30 21:01] dan003400 opened #384 "Typescript Job.data attribute static typings"
Is there a way to type your job.data attributes using typescript when defining a Job processor?

[2021-02-01 00:04] daeschlerdavid opened #385 "How to store jobs created to find them in a easy way ?"
Hello

When I create a new job, It is often related to something in my database (a user for example).
What is the best way for the user to find the job he created ?
It seems I need to store the job id somewhere in my db, and add my context data with it but I am not sure because :

Why is the id field  "optionnal" ?
It seems to be the most important part of each job so I don't understand why it cou

[2021-02-01 12:37] grapevineai commented on #327
Hey, thanks for giving me a workaround. This is unfortunately not satisfying in my case since the `extendLock` won't work (if I understand correctly...) :(

[2021-02-01 13:37] manast commented on #327
@grapevineai yes, extendLock will work, why can't you use the workaround I suggested?

[2021-02-01 13:41] grapevineai commented on #327
@manast Then I think I didn't understand the problem... I thought that the stalled job function would make the `extendLock` useless since I have to set a specific time as `stalledInterval`. Let me try the workaround then! Thanks!

[2021-02-01 14:05] manast commented on #385
A unique jobid is generated automatically which is in fact a counter, however you can pass your own jobId. However keep in mind that if there is already a job in the queue with the same id then the new job will not be added (this is useful for idempotence and debounce scenarios).

[2021-02-01 15:03] manast commented on #384
Please check this: https://docs.bullmq.io/guide/workers#typescript-typings

[2021-02-01 16:36] framled commented on #89
I have the same issue in Azure...
They have Redis in version 4 as stable and 6 as preview :/

[2021-02-01 17:30] manast commented on #89
@framled you can use previous version of Bull instead: https://github.com/optimalbits/bull

[2021-02-01 18:32] mxzinke opened #386 "Uncountable jobs on repeated-job when using attempts property"
When I do the following:

[code]

The job should only trigger after every 50 seconds. This is not working as expected. My server logs are telling me, that the job is received every ~100ms and imminently processed. Causing real issues. If I remove the `attempts` property, it is working as expected.

I am using version BullMQ 1.14.0

[2021-02-01 18:46] daeschlerdavid commented on #385
This doesn't explain why the id field is typed as optionnal

[code]

why ?
in what scenario could a job be created without an id?
even if I just successfully resolved a job with the id I just provided...

[2021-02-01 18:59] mxzinke commented on #386
![Bildschirmfoto 2021-02-01 um 19 57 59](https://user-images.githubusercontent.com/44158571/106504884-d1704f00-64c7-11eb-9736-f1345fc2a663.png)

This is the output of the job as json. The `attemptsMade` property is not changing.

[2021-02-01 22:50] manast commented on #385
@daeschlerdavid All jobs have unique ids, either you let bullmq generate the id or you provide your own. That the id is optional is an implementation detail, you should never need to instantiate a Job manually but indirectly using static functions such as Job.fromId. It is probably possible to make the id non-optional, I am open to suggestions on how to improve the current design.

[2021-02-01 23:05] daeschlerdavid commented on #385
Ok. I just assumed that because the id is typed as optionnal that this field is not a reliable way to store/retrieve jobs.

Currently I am using typescript non-null assertion operator to make my code compile with typescript, like this

job.id!

[2021-02-02 09:07] manast commented on #386
Could it be that some jobs are failing and then retries immediately?
If you can provide a minimum code that reproduces the issue I can take a look into it.

[2021-02-02 15:18] #385 closed

[2021-02-02 15:25] #384 closed

[2021-02-02 20:07] Clemens-E commented on #297
What I still don't get, in your documentation it literally says that there is special functionality around it

In this doc it says:
https://optimalbits.github.io/bull/

But in your reference it says
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueprocess

[2021-02-02 21:44] manast commented on #297
The second link is for older bull. This has been slightly changed in BullMQ so that it does not create more confusion.

[2021-02-04 17:13] airhorns opened #389 "Worker can get caught in infinite loop when redis connection is closed unexpectedly"
Because of https://github.com/taskforcesh/bullmq/blob/master/src/classes/worker.ts#L192-L195 , I am seeing workers get caught in an infinite loop of trying to get the next job only to error again trying to get the next job.

The loop is this:

 - Redis connection is closed somehow (I assume this is my code doing this but don't have a smoking gun yet)
 - worker is not closed explicitly, `this.closi

[2021-02-04 17:19] airhorns commented on #389
Also, I think this is actually the root cause of #359, not pausing! The event loop starvation happens where my timeouts for a test or what have you never fire because of this async-but-infinite loop that has higher priority in the node tick order I think.

[2021-02-04 21:22] manast commented on #389
I am working on a fix for this. This issue exists in bull v3 and I expect to have a fix by tomorrow.

[2021-02-06 12:19] mxzinke commented on #386
To make it more reproducible, I created a small repo, including everything.

https://github.com/mxzinke/bug-showcase-bullmq

The real issue is now, I couldn't reproduce it. So it isn't about attempts.

I found a relation to the issue #183. In the case which I implemented, I use a redis `keyPrefix` and the repeated jobs are spinning up like going wild. Have a look if you want to.

[2021-02-06 12:19] mxzinke opened #390 "Add to possibility to ensure repeated jobs are there"
In case the Redis instance is crashing or getting flushed, all jobs are gone. It would be nice to have an option to ensure at least the repeatable jobs are still there.

This option could be included in the `RepeatOptions` and would just be a `ensure` property which could be a boolean. The queue then holds the already added jobs (with the `ensure` option set) in memory and tells the Redis instance

[2021-02-06 12:21] mxzinke commented on #302
You could make a fork and port it to Deno.

[2021-02-07 08:47] evolkmann commented on #302
@mxzinke Awesome hint 😃 I am currently "still" running only NodeJS, not because the lack of BullMQ, so there is no real motivation and/or time capacity on my end to work on a port. My main intention was just to maybe have the option "BullMQ" added to the poll on twitter, to have people also vote on that.

[2021-02-07 09:30] #389 closed

[2021-02-07 09:38] manast commented on #302
I like Deno and the vision behind it, however I do not think it is worth the effort just yet since Deno is still in early development and it is not gaining traction as fast as Node did when it came out. In the end it is quite difficult to compete against node when you do not provide a vastly better product and developer experience, which with Deno I am afraid is not the case just yet.
So I will cl

[2021-02-07 09:38] #302 closed

[2021-02-07 13:37] airhorns commented on #389
Thanks @manast !

[2021-02-07 16:20] danthegoodman1 opened #392 "Bullmq requires being in a node_modules folder, webpack output fails"
If using bullmq and webpack, I get the following error:

[code]

It seems that bullmq is trying to access the node_modules folder that doesn't exist. Maybe imports should be updated?

A workaround when using webpack (at least with docker) is use the following dockerfile:

[code]

I'll also add for anyone looking for the solution to the `TypeError: n.updateDelaySet is not a function` error, you nee

[2021-02-07 20:50] paulisloud commented on #224
This was the end of a 4 hour search for me

[2021-02-07 23:06] manast commented on #224
I know in many cases it is not possible but I strongly recommend you to use typescript, then you will get a compiler error if you pass the wrong arguments. I am sorry you lost time with this issue, but it is actually documented in the api reference:  https://github.com/taskforcesh/bullmq/blob/3a8873b6453405e6f8e57331f6cee30977406670/docs/gitbook/api/bullmq.queuebaseoptions.md

[2021-02-08 10:16] mxzinke commented on #392
You should instead `COPY` your package.json and package.lock file and run `RUN npm install` to fetch your packages. Or do I miss understand your problem?

[2021-02-08 11:47] mxzinke opened #393 "Repeated Job stops repeating"
In my case, I have run a repeated job every 50 seconds. This one was now running for already 4 days straight. The job just stops and no one knows why. There was no error, no Redis flush, nothing. Even the second repeated job (also running every 50s and is in the same queue) still runs.

What I have to tell additionally, is that I run the jobs at 6 to 20 worker nodes (which also does other things),

[2021-02-08 12:08] danthegoodman1 commented on #392
I have my normal `npm install` and `webpack` commands in another part of my ci/cd pipeline, and I keep the `build.js` output to copy into the container.

package.json
[code]

webpack
[code]

[2021-02-08 15:04] grapevineai commented on #337
@manast This is a major bug that needs to be addressed...is there something I can do to help?

[2021-02-08 15:21] manast commented on #337
It is more of a missing feature :), but I will check what I can do.

[2021-02-08 18:43] #337 closed

[2021-02-09 08:49] manast commented on #393
A repeatable job is a special job that adds a new delayed job upon processing, so it would be useful to know if there are any delayed jobs in your queue. This is easy to see using the api or you can use a UI such as https://taskforce.sh (with the trial is enough to do this investigation).

[2021-02-09 09:19] grapevineai commented on #337
Amazing! Thank you so much

[2021-02-10 00:40] airhorns commented on #359
This has been fixed with #389, thanks @manast !

[2021-02-10 00:40] #359 closed

[2021-02-11 13:33] nflorentin commented on #393
I just had the same issue with bullmq v1.6.7: a repeated job which worked well during 4 weeks and stop running after that. No error in logs. I don't know where the search for the error.

[2021-02-13 21:03] nemphys commented on #165
How come this has been closed when the issue definitely exists and has not been addressed?
Also, this seems to have been fixed in 3.x, but still persists in 4.x

[2021-02-14 09:15] nemphys opened #396 "Repeatable jobs need serious work"
I just started using Bull for my new project and I am using repeatable cron jobs for some maintenance tasks.

After implementing the required functionality with Bull v3, I realised that I will definitely need the ability to fetch jobs by key pattern (PR #277 currently pending in this repo), so I decided to switch to BullMQ (seems to be the new, more actively maintained version anyway).

To my surp

[2021-02-16 02:55] mannharleen commented on #343
@manast How will it behave if we have multiple QueueScheduler (for the same Queue) with different values for maxStalledCount & stalledInterval ?

[2021-02-16 10:22] manast commented on #343
@mannharleen for consistent results you should use the same values for all your QueueSchedulers for a given queue.

[2021-02-16 10:55] manast commented on #396
Thanks for the issue, I am working on this today.

[2021-02-16 12:55] mannharleen opened #397 "Modify the way Error is displayed under FAILED tab"
## What I noticed:
When `error.message` (nodejs error object) is an object rather than a string, the UI doesn't handle the display properly. (see image below):
![image](https://user-images.githubusercontent.com/22973248/108064923-6a4ebf00-70b1-11eb-9a57-d89c58446332.png)

## Possible solution options
We could fix this on the UI, however, I also feel that showing stack traces may not be acceptable

[2021-02-16 12:57] mannharleen commented on #397
Sorry wrong project :D

[2021-02-16 12:57] #397 closed

[2021-02-16 14:27] franklevasseur opened #398 "How to update progress of a job?"
Hi,

The [documentation](https://docs.bullmq.io/guide/workers) states that you can update the progress of a job calling "job.progress":

"Inside the worker process function it is also possible to emit progress events. Calling "job.progress" you can specify a number or an object if you have more complex needs."

But my compiler seems to tell me that progress is not a function:

![image](https://use

[2021-02-16 14:30] franklevasseur commented on #398
Found it!

Guess I didnt look weel enough.

its: `job.updateProgress()`

[2021-02-16 14:30] #398 closed

[2021-02-16 14:33] manast commented on #393
@nflorentin as I mentioned before, can you take a look at the delayed jobs to see if there is a delayed job for the next repetition?

[2021-02-16 14:38] manast commented on #390
If I understand your proposal you mean to add like a cache layer on top of redis to handle fatal redis scenarios. If that is the case then I would suggest making sure redis can handle such a scenario, either by persisting to disk or by having redundant replicas that can take over in the case the primary instance crashes. Building a recovery logic on top of redis would be really complex and I do no

[2021-02-16 14:38] #396 closed

[2021-02-16 14:39] #382 closed

[2021-02-16 14:40] #309 closed

[2021-02-16 14:44] manast commented on #324
But the client property is just a convenient getter for connection.client:
https://github.com/taskforcesh/bullmq/blob/7372ef16465fdf7d3c803a9cd9c1a25422d53373/src/classes/queue-base.ts#L57

[2021-02-16 14:57] nflorentin commented on #393
@manast I would like to but I am pretty beginner with Bullmq and I don't know how to do it without having to develop a script... Do you have a snippet for that ?

I don't know if it can help but here is the code for my scheduled job:
[code]

[2021-02-16 15:15] manast commented on #396
I also added some more documentation: https://app.gitbook.com/@taskforce/s/bullmq/guide/jobs/repeatable

[2021-02-16 15:43] manast commented on #393
@nflorentin your code snippet above is wrong and could result in breaking the repeatable jobs.  You need to "await" for the promise returned by ```queue.removeRepeatableByKey``` otherwise you could be deleting the repeatable jobs that you are adding in the next ```queue.add``` call.
Having said that, you normally do not need to delete old repeatable jobs if you are adding the exact ones, adding an

[2021-02-16 15:46] manast commented on #398
thanks. I will update the documentation right away.

[2021-02-16 16:58] #165 closed

[2021-02-16 17:10] lukepolo commented on #392
since your using webpack make sure to add externals

[code]

I tried just doing bull but it seems that it didnt like that so i ended up just copying

[code]

[2021-02-16 17:40] paeolo commented on #324
@manast  My point is to remove the client property from [QueueBaseOptions](https://github.com/taskforcesh/bullmq/blob/5e6631e7c3f40b7857d2f73b48abfd3f9d072b35/src/interfaces/queue-options.ts#L11), not the getter from [QueueBase](https://github.com/taskforcesh/bullmq/blob/7372ef16465fdf7d3c803a9cd9c1a25422d53373/src/classes/queue-base.ts#L57) class.
https://github.com/taskforcesh/bullmq/blob/7372ef

[2021-02-16 19:10] #324 closed

[2021-02-16 20:08] vmp-mark commented on #261
Is there any way to get a list of all jobs without knowing the queue names beforehand?

[2021-02-16 20:24] ccollie commented on #261
@vmp-mark You can use something like the [following](https://github.com/graphql-compose/graphql-compose-bullmq/blob/7b1a955b548c11eadedc337fb7e47c9d63218c83/src/helpers/queueTitles.ts) to get a list of queues, then use code like above to iterate jobs.

[2021-02-16 20:30] vmp-mark commented on #261
Thanks @ccollie, I'll take a look!!

[2021-02-17 06:56] nflorentin commented on #393
@manast thank you very much for your feedback.

I followed your advice and removed the piece of code "remove old repeatable jobs" so the code is now much simpler and there is no more risk to delete the job.

I also install bull-bear to monitor the jobs, so I will come back here with more details the next time the problem happens.

[2021-02-17 07:17] nflorentin commented on #393
@manast I think that it just happened again.

I restart the server at 7:52am, it runs the job directly (I don't know why) and it did not run at 8:00am which is strange because Bull-bear indicates that the job is delayed by 7 min so this seems correct. My cron expression is every hour (0 0 * * * *).

![Capture d’écran 2021-02-17 à 08 12 42](https://user-images.githubusercontent.com/5750349/108168

[2021-02-17 07:36] nflorentin commented on #393
I also noticed that the cron expression in the code snippet [in the documentation](https://docs.bullmq.io/guide/jobs/repeatable) seems wrong, it shows a format like that "15 3 * * *" but I could only make it worked with a format like "0 0 * * * *".  The [link to the cron-parser doc](https://www.npmjs.com/package/cron-parser) in the documentation shows a 6 * format.

[2021-02-17 08:05] manast commented on #393
Thanks for pointing out the error in the documentation, it isI updated now.

[2021-02-17 14:05] danthegoodman1 commented on #392
@lukepolo so you are basically just copying in the file, rather an doing another `npm i bullmq` like I am? That's probably a lot faster than what I was doing!

I'm wondering if this would cause issues in some FaaS...

[2021-02-17 14:07] lukepolo commented on #392
correct, im using https://github.com/liady/webpack-node-externals , as we dont want the whole node_modules folder while running in production.

We instead opt to copy over any binaries that are required . In this case bull also has lua scripts

[2021-02-18 07:07] nflorentin commented on #393
@manast Just to report the problem with more details because it happened again today.
As you can see the last one that have been run was at 18:04 the 17th.

![Capture d’écran 2021-02-18 à 08 01 38](https://user-images.githubusercontent.com/5750349/108318328-ee8f6800-71bf-11eb-81fe-654cc00d5483.png)
![Capture d’écran 2021-02-18 à 08 01 45](https://user-images.githubusercontent.com/5750349/10831

[2021-02-18 07:58] manast commented on #393
The screenshots are not so helpful, what we need is a test case that reproduces the issue. And as mentioned, is there a delay job for the next iteration of the repeatable job? and if so, what is the delay time? is it wrong?

[2021-02-18 08:02] manast commented on #393
ok, sorry, I overlooked the screenshots. It looks correct, there is a delayed job for one hour as the cron specifies. That means your delayed job is not picked up and that could be that either your QueueScheduler or your Workers are not running or connected to the redis instance.

[2021-02-18 08:56] nflorentin commented on #393
Exactly, you are right, the delayed job is simply not picked up.

In my docker container, I can see that my scheduler and my worker are running:
<img width="768" alt="Capture d’écran 2021-02-18 à 09 50 54" src="https://user-images.githubusercontent.com/5750349/108331273-e559c780-71ce-11eb-94e9-2b1a310814ac.png">

Here is the full code of the scheduler:
[code]

And the code of the worker:
[code]

[2021-02-18 09:05] nflorentin commented on #393
If I understand well, each time a repeated job is run, it enqueues the next one.
Isn't that fragile ? I mean, if for any reason, the job is not run, then it will never be enqueue again ?

[2021-02-18 09:22] manast commented on #393
No because the current job is only added if it succeeds adding the next iteration. In this case it did succeed so that is not the problem.
You can check if there are any workers actually connected to redis using https://github.com/taskforcesh/bullmq/blob/3a8873b6453405e6f8e57331f6cee30977406670/docs/gitbook/api/bullmq.queuegetters.getworkers.md

ex. ```ts
const workers = await queue.getWorkers();

[2021-02-18 09:43] nflorentin commented on #393
@manast thank you for taking time to investigate that and help me.

I had to restart my app to make the job run because my app is in production and my clients are using it.
At the moment, the result of `queue.getWorkers()` is:
[code]

I will post again the result of `queue.getWorkers()` here as soon as the problem appears again.

[2021-02-18 09:59] manast commented on #393
if you restart and it works again it is also a strong indication that it is loosing the connection. However it should re-connect if that happens, and also you should get some connection errors. Which version of BullMQ are you using?

[2021-02-18 10:03] nflorentin commented on #393
Yes you right. I'm using 1.6.7, a bit old I admit.
I can try to upgrade, although I would have liked to find the cause of the problem.

[2021-02-18 10:25] nflorentin commented on #393
I upgraded to last version. I'll keep you updated.

[2021-02-19 00:04] darki73 opened #405 "Feature: List of jobs for worker"
### The WHAT part
It would be nice to see which jobs worker is working on.

### The WHY part
Whenever you are building a distributed service, which will be executed on multiple machines, it is nice to know how many workers and jobs this specific machine is running.

Second thing, when application receives any of the **SIG****** signals, it would be nice to do something about the jobs which are cur

[2021-02-19 11:10] gurbaj5124871 opened #406 "Question: Bullmq connection with redis cluster not added in types"
The types when creating queue accepts connection arg which has the type of RedisOptions or Redis and not the RedisCluser.
[code]

So the question is does bullmq supports redis cluser or the types are not up to date?

[2021-02-19 18:02] manast commented on #406
In theory it should work with redis cluster however there is no benefit by using it since a queue including all its jobs must all be in the same node, you can read more about it here: https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#redis-cluster

[2021-02-19 18:18] manast commented on #405
Thanks for the issue.

In general I agree that a better "workers" handling is desirable. Something to consider is that once a worker is instantiated it generates a uuid that it uses for locking the jobs, only a worker with the correct uuid can unlock the job, so this uuid could be used for representing a unique worker in the queue.

Please see my answers below:

New workers will process old jobs t

[2021-02-20 05:19] gurbaj5124871 commented on #406
I have a redis cluster which i wanted to reuse for bull as well. Although the jobs related to a queue will be in same node but its better than having all the queues on the same node in case of non clustered redis.

So this means that the types are not up to date

[2021-02-20 09:50] darki73 commented on #405
And where can i get this worker UUID?
**This is example code:**
[code]

**And this is the output:**
[code]

[2021-02-20 09:58] darki73 commented on #405
Scratch that.
[code]

This piece of code returns the jobs this worker is currently working on. It is accessible in JavaScript, however, there is no way to access it in TypeScript without usage of `// @ts-ignore`

[2021-02-20 11:50] manast commented on #405
You cannot access the tokens currently, this will need to be reworked in order to be used outside the worker class, and currently there is one uuid per concurrency, so if you have 1 worker with 100 as concurrency factor you will have 100 uuids:
https://github.com/taskforcesh/bullmq/blob/master/src/classes/worker.ts#L137

[2021-02-20 11:54] manast commented on #405
@darki73 that would only give you the active jobs of a given worker, but we need to be able to list all the workers in the system... I think this can only be achieved by having a new data structure where we keep the current active workers, this structure needs to automatically expire workers that goes offline...

[2021-02-22 09:18] uh-vish commented on #393
Scheduled jobs stops without any error for me too.

[2021-02-22 10:54] manast commented on #393
@uh-vish did you debug as explained above?

[2021-02-22 11:04] uh-vish commented on #393
Will try this.

[2021-02-23 09:27] restuwahyu13 opened #409 "Question: how to connect redis cluster using BullMQ ?"
please check my code, my problem is I can't connect to the redis cluster, how do I get connected using the redis cluster, can you give me a simple example? thank you

## Custom Queque

[code]

## Custom Worker

[code]

### Login Queue

[code]

### Login Worker

[code]
i tried **redis cluster** with `bull` and it works how about `bullmq` ?, I tried the same thing but it doesn't work

[code]

[2021-02-23 09:34] grapevineai commented on #327
@manast I have tested more extensively your workaround. Unfortunately it doesn't fully work. It goes back to waiting the first time it timed-out but the second time it goes to fails. I have tried to set `attempts: Number.MAX_SAFE_INTEGER` when I initially add the task but it didn't help. In addition, the behavior is not consistent and sometimes the task stays in active state after the timeout ende

[2021-02-23 10:35] manast commented on #327
@grapevineai you need to specify the ```maxStalledCount``` option in the QueueScheduler which is 1 by default. However, you should not get any stalled jobs if you are calling ```extendLock``` before the locks expires.

[2021-02-23 11:28] #409 closed

[2021-02-23 14:23] grapevineai commented on #327
@manast Thanks for the precision! There is another issue which is a real bug this time...I have added a couple of tasks in my queue. I let my first task expire and automatically get the next task. I let the second task expire and get the first task back. I try to complete the first task received for the second time and get the following error (the app crashes):

[code]

[2021-02-23 14:46] manast commented on #327
@grapevineai is it possible that you can post a code snippet that reproduces that exact error please?

[2021-02-23 15:25] grapevineai commented on #327
Sure! I initialize my queue:

[code]

I add two tasks as follows:

[code]

and get the next task:

[code]

I let it expire, get the next one right away, let the second one expire and receive the first one again. For the second time the first task was received, I complete it:

[code]

and get the error mentioned above.

[2021-02-23 16:10] grapevineai commented on #327
@manast Sorry I forgot to add your name in the previous comment

[2021-02-24 13:19] grapevineai commented on #327
@manast Any chance this can be investigated ASAP?

[2021-02-24 13:31] manast commented on #327
sorry, for late response. Basically I need a piece of code that reproduces the issue that I can just run directly as is. The current code makes many assumptions and If I try to replicate them besides taking a lot of my time it may also result in a different case. So please create a standalone .js file that I can just run with ```node test.js``` and that reproduces the issue and I can look into it

[2021-02-24 14:15] grapevineai commented on #327
@manast Of course, sorry about that...

[code]

[2021-02-24 15:19] manast commented on #327
I could reproduce the issue. The problem is that the Job instance used for the call ```moveToCompleted``` has been created in the queue instance that does not have any value for the ```lockDuration``` option. If you use ```next``` instead it works. In general thats the job instance you want to use anyway. I have to figure out how to change the current implementation so that such problem can never

[2021-02-24 16:08] AmreeshTyagi commented on #126
@manast Any PR in progress to review? I would like see this feature and it's doc.

[2021-02-24 16:54] manast commented on #327
In that case we need a new getJob method in the Worker class.

[2021-02-24 18:03] AmreeshTyagi commented on #251
@jaschaio Can you please let know what throughput you are getting on production with bull?

I need to process approx 50k message per second. Would there be any problem with bull?

[2021-02-25 09:15] manast commented on #251
Depends a lot on your setup and what features you want to use from bull. With a plain non-prioritized queue it should be possible, but you should do some proof of concept first, 50k jobs per second is not trivial in any technology you choose, so it is going to require careful fine-tuning no matter what.

[2021-02-25 09:21] manast commented on #327
you can try this as a workaround:
[code]

[2021-02-25 11:11] grapevineai commented on #327
@manast Thanks for the workaround! The code is more complex and quite nasty but it works... any chance this will be cleaned up soon?

[2021-02-25 11:16] manast commented on #327
why is it nasty?
The only improvement that can be done here is to expose getJob in the Worker class, so it would look like this:
[code]

In general calling getJob should not be used for manually moving the jobs, instead ```getNextJob```  is the way to do it, but since it is not possible in your case this is the only workaround I can come up with.

[2021-02-25 11:21] grapevineai commented on #327
In my case it's nasty because the `lockDuration` has to be set for `getNextJob` and `getJob`. What happens if the numbers are different by mistake? There might be some strange behavior...

[2021-02-25 11:24] manast commented on #327
Just use a ENV variable that is configured via a centralized parameter store.

[2021-02-26 09:21] mxzinke commented on #393
Just to make it clear for my described case:

I have multiple workers (around 4 to 10), this is not an issue. The connection was there. Also, I have 4 to 10 Queue-Schedulers (for redundancy), also they had connections all the time.

I changed the option `maxStalledCount` of the QueueScheduler to 0 and no job is disappearing. Maybe you can further investigate there.

[2021-02-26 11:49] EmilsWebbod opened #411 "Build error with Timeout and 'semver' missing declaration"
When running production build on my server I get these errors connected to the bullmq.
Seems to be connected to the "lib": ["dom"] setting in tsconfig, that TS thinks its using the DOM version of setTimeout. Tried to remove the dom setting but didn't remove the errors.

The server is running react with SSR and that's probably causing the issues.

Could you fix the types to support both dom and Nod

[2021-02-26 13:43] EmilsWebbod commented on #411
Ah, found the problem.

Had one of these added with auto import `import { QueueOptions } from 'bullmq/src/interfaces/index';`
Caused errors on build

[2021-02-26 13:43] #411 closed

[2021-02-27 12:35] pastelsky commented on #100
This has been empty for a year now. Is bull v3 still being maintained and expected to replace bull v2? Or is the recommendation to still use bull v2 in production setups?

[2021-02-27 15:44] manast commented on #100
it is not empty at all: https://docs.bullmq.io/index

But I forgot to close this issue, thanks for reminding me.

[2021-02-27 15:44] #100 closed

[2021-03-02 09:39] Zikoel opened #412 "Proces one job at time"
First, Thank you for this `masterpiece`! I very like bull and bullmq!

In my use-case have some very heavy (CPU and memory) and slow jobs! I want to be sure that only one job per worker is executing! What is in your opinion the best way to do that with this library. Exploring the docs I only see a temporary rate limiter not `how many job per worker` limiter! I will try with some tests for sure but

[2021-03-02 11:45] manast commented on #412
Just make sure that you are only running 1 workers with concurrency factor 1 at any moment in time.

[2021-03-02 11:45] #412 closed

[2021-03-04 02:32] codetheweb opened #414 "Sandboxed updateProgress()"
I think that either the types or the function parameters are messed up for sandboxed processes in regards to `Job.updateProgress()`. The function is available when using non-sandboxed workers, but it's not part of the job object passed to sandboxed processors (however, `Job.progress()` is a thing).

[2021-03-04 08:23] manast commented on #414
yes I see what you mean, thanks for reporting!

[2021-03-05 20:03] bartosz-maciaszek opened #415 "tsc errors about a missing argument to resolve() in src/classes/child-pool.ts and src/utils.ts"
When compiling my project that uses bullmq I'm getting the following errors:

[code]

Tested using typescript 4.1.5 and 4.2.3 and bullmq 1.14.7.

[2021-03-06 09:59] bartosz-maciaszek commented on #415
Have created a tiny PR that fixes it.

https://github.com/taskforcesh/bullmq/pull/418

[2021-03-07 16:31] danthegoodman1 opened #419 "How does bullmq ensure jobs aren’t deleted by Redis evictions?"
Since Redis can evict kv pairs for various reasons, would this potentially cause jobs to be removed before execution? For example a repeating job or delayed job getting evicted before executing.

[2021-03-07 18:39] andrisi commented on #122
so is there an event that is fired when a job is added?

[2021-03-07 21:54] manast commented on #122
@andrisi there is an event called "waiting" that is emitted when the job is added to the waiting list.

[2021-03-07 21:55] #419 closed

[2021-03-08 16:42] andrisi commented on #122
Ah, ok. And that is never fired later on. Failed jobs get stalled, but not in the waiting list, right?

[2021-03-08 16:47] manast commented on #122
If they are stalled they will go back to the waiting list and emit the "waiting" event again.

[2021-03-09 10:44] andrisi commented on #122
Then perhaps an "added" event would be helpful sometimes later on.

[2021-03-09 11:29] grapevineai opened #421 "Debug cron that doesn't restart after Redis crash"
I am trying to debug an issue I have with cron. The job is set to occur once every day and it works as expected. The problem is that when my Redis instance restarts, the cron job doesn't restart.

I've set up a Redis client to listen to when Redis is ready and it gets reconnected after restart. In addition, I can see that the cron job is still in Redis (from the bull-arena UI). I have tried to rep

[2021-03-10 07:58] manast commented on #421
A cron job produces delayed jobs, so you can just check if your next repetition is in the delay status. If it is, as long as you have a QueueScheduler active connected to the Redis instance it should just pick the delayed job when it is time to run it and move it to the wait list.

[2021-03-10 07:59] manast commented on #421
So the way to debug this is to check if there is such a delay job and if the scheduler is running.

[2021-03-10 08:01] grapevineai commented on #421
@manast Thanks but how can I check that the scheduler has reconnected or if the worker is also connected?

[2021-03-10 08:42] manast commented on #421
you can use a  external redis connection with your QueueScheduler and then attach listeners to it to check the connetion events: https://github.com/luin/ioredis#connection-events

[2021-03-10 08:46] grapevineai commented on #421
@manast Any doc on how I can use an external redis connection to a QueueScheduler?

[2021-03-10 08:49] manast commented on #421
https://docs.bullmq.io/guide/connections

[2021-03-10 08:51] grapevineai commented on #421
@manast Sorry to bother but using and external connection for QueueScheduler is not documented. Does it mean that it uses the same connection as Queue or does it work like Queue for initialization?

[2021-03-10 08:56] manast commented on #421
Al classes have the same connection semantics you can check the api reference.

[2021-03-10 10:35] grapevineai commented on #421
@manast I've tried to add an external connection but for some reason, the prefix gets overridden by Bull... if it possible to use a connection with a specific keyPrefix and that BullMQ adds its default "bull:" prefix? It gets very confusing since we expect the keyPrefix of the connection to be taken into account:

[code]

Should I post another issue for this?

[2021-03-10 11:33] grapevineai commented on #421
@manast By doing so:
[code]

I can see that in Redis, the "events" key doesn't have a prefix: "bull:myQueue:events" while the others do: "myPrefix:myQueue:meta".

I don't know if that's by design but it there should be a way to easily set a prefix for external connections...Is this behavior expected?

[2021-03-10 13:30] grapevineai commented on #421
@manast Thank you so much for your responsiveness, it really helps integrating this library!

[2021-03-10 13:30] #421 closed

[2021-03-10 15:32] hasparus opened #422 "@user_script:86: user_script:86: too many results to unpack"
Hi! That's my first issue, so firstly I wanted to thank you folks for BullMQ!
We're using it quite a lot with @andreasasprou and this is the first problem I encountered.

After scaling up our workers, we've noticed a new error

[code]

I looked around the repository, and found `unpack` in two places

Once in [_updateDelaySet-7.lua_](https://github.com/taskforcesh/bullmq/blob/297ec30086bd0d95b10718

[2021-03-10 15:35] andrisi opened #423 "add jobs to queues without creating separate Queue object"
Is there a case for a BullMQ class perhaps with a method to add job/jobs to any queue? From the producer side it would simplify clients if we don't need notifications per queue, and even that could be part of this higher level API. I know, I can reuse the connection, so in essence this connection is used as a higher level API, creating/destroying Queue classes using it as we need to add jobs.

[2021-03-10 16:07] rileyai-dev opened #424 "Prefix is not consistent"
@manast OK, after several hours of investigation, I think I know what the problem is...

[code]

This simple test fails with: `Error: Missing lock for job 1 failed` and the Redis DB looks like:

1) "myPrefix:bull:myQueue:1"
2) "bull:myQueue:1"
3) "myPrefix:bull:myQueue:events"
4) "myPrefix:bull:myQueue:active"
5) "myPrefix:bull:myQueue:meta"
6) "myPrefix:bull:myQueue:id"
7) "bull:myQueue:1:lock"

[2021-03-10 17:46] hasparus commented on #422
Here is a diff with a potential solution.

[code]

[2021-03-10 17:59] francescov1 opened #425 "Graceful shutdown handler"
Hi there! I've been looking on docs related to graceful shutdowns with BullMQ but havent been able to find much.

Would like to verify that this is the correct approach for graceful shutdowns, ensuring all jobs are completed or at least can be picked up once restarted:
- Express server in Node.js is closed, ensures no more jobs are added to queues
- BullMQ Workers are paused - awaiting this functi

[2021-03-10 21:07] ozanmuyes opened #426 "Doc: Wrong comment on code sample on documentation"
On [FIFO Jobs documentation page](https://docs.bullmq.io/guide/jobs/fifo) the first code sample has wrong comment, it should read "after" not "before". So instead of

[code]

this should be written

[code]

[2021-03-11 10:40] grapevineai commented on #424
@manast Any chance we can have a quick fix here?

[2021-03-11 11:37] manast commented on #424
no fix is needed, as I mentioned earlier you must not use the prefix functionality from ioredis, instead use the "prefix" option when creating the connection:
https://github.com/taskforcesh/bullmq/blob/3a8873b6453405e6f8e57331f6cee30977406670/docs/gitbook/api/bullmq.queuebaseoptions.md

[2021-03-11 11:47] grapevineai commented on #424
@manast I understand that...but either BullMQ completely ignore the prefix of IORedis OR it is compatible with it! The current implementation doesn't make sense and is extremely confusing. I have one instance of redis client used throughout the entire app which has a prefix. If I use this instance to initialize the queue, BullMQ will be buggy and won't work. In addition, the documentation doesn't

[2021-03-11 11:50] grapevineai commented on #424
Also, what would be the "cost" of supporting keyPrefix when adding a job? This is the only missing part of supporting keyPrefix...

[2021-03-11 11:53] manast commented on #424
As I see it, the only bug would be not giving an error if ioredis prefix is defined, and of course improve the documentation as I labeled the issue for that. Supporting ioredis auto-prefix is not compatible with BullMQ... it is a small inconvenience but easy to get  around it.

[2021-03-11 11:55] grapevineai commented on #424
So why not just completely ignore it? At least the behavior would be consistent...

[2021-03-11 12:04] grapevineai commented on #424
@manast The problem here is that adding a keyPrefix to a unique IORedis client instance is convenient especially if you want to change it. It avoids errors and dev issues by centralizing where the prefix is managed. By ignoring it, it would give us the opportunity to reference the prefix throughout the code `connection.keyPrefix` to add it to everything that is related to BullMQ.

[2021-03-11 12:24] grapevineai commented on #424
@manast Would you be interested in opening a reward on Issuehunt to support IORedis auto-prefix? This would tremendously simplify our code.

[2021-03-11 13:03] manast commented on #424
It is ignored, thats why it does not work. When we write to keys inside .lua scripts ioredis cannot auto-prefix the keys.

[2021-03-11 13:05] grapevineai commented on #424
@manast It is not completely ignored since it creates default keys with the prefix:

"myPrefix:bull:myQueue:1"
"bull:myQueue:1"
"myPrefix:bull:myQueue:events"
"myPrefix:bull:myQueue:active"
"myPrefix:bull:myQueue:meta"
"myPrefix:bull:myQueue:id"
"bull:myQueue:1:lock"

[2021-03-11 13:14] manast commented on #424
check the code if you dont believe me, that setting is completely ignored.

[2021-03-11 13:17] manast commented on #424
why can't you just create a different redis connection for BullMQ instead of reusing it for other operations?

[2021-03-11 13:18] grapevineai commented on #424
@manast I believe you but how do you explain the behavior I described? Simply test with the code I provided and you will see...

[2021-03-11 13:20] grapevineai commented on #424
Coherence of code... If the code I wrote was working without prefix, I'd be fine...but it's not! Future dev would probably fall into the same trap and will waste a couple of hours until they figure.

[2021-03-11 13:23] manast commented on #424
As mentioned we can throw an exception if you use auto-prefix. But since we need to write to keys inside .lua scripts, and since BullMQ already provides auto-prefix functionality this is a small inconvenience to pay, vs more code to maintain and possible other  bugs.

[2021-03-11 13:29] grapevineai commented on #424
@manast Ok, I understand even if I don't really agree. The exception is the minimum a dev would expect so the library works as expected no matter what the configuration is.

[2021-03-11 13:45] grapevineai commented on #424
Feel free to close this issue whenever you think it's done

[2021-03-12 08:32] manast commented on #426
good catch!. I have updated it now.

[2021-03-12 08:32] #426 closed

[2021-03-12 09:01] manast commented on #425
Hi. I updated the docs with some info that I think covers most of what you are wondering, let me know if something is missing:
https://docs.bullmq.io/guide/workers/graceful-shutdown
https://docs.bullmq.io/guide/workers/pausing-queues

[2021-03-12 09:10] manast commented on #422
Hello @hasparus. It seems that you indeed have reached a limit in the lua script implementation used by redis.
thanks for the patch, I am studying it, but my first impression is that it could be a bit slow, since iterating arrays in .lua is not super fast. I will check if there is some native lua way to divide arrays in batches.

[2021-03-12 09:22] manast commented on #422
ok, so I think it would be more optimal to do use redis LRANGE to get the jobids in batches. So first doing a LLEN will return the total length, if it is larger than 8k start getting in batches with LRANGE until the whole list has been consumed.
I can create a PR for this but I cannot give an ETA. If you have time to do it quickly I would accept the PR if it passes all the tests (would be greate t

[2021-03-12 09:27] manast commented on #423
A Queue instance only requires one connection in order to add jobs to the queue. Events are handled in the QueueEvents class so if you don't need them no extra connections needed.

[2021-03-12 10:05] hsynlms commented on #393
I am new around here and your issue may be related to **using existing Redis connection** even for QueueScheduler

**What docs are saying:**

Possible related issue: https://github.com/taskforcesh/bullmq/issues/173

[2021-03-12 10:18] hsynlms opened #427 "Pausing delayed jobs runs immediately after resume"
I am using `bullmq`  and almost done the integration part. Yes, documentation is a bit poor and so I needed to do a lot of searches. I may be a contributor if possible in the future who knows.

I struggled in pausing delayed jobs. Let's assume that I gave random `delay`'s to the jobs between 0-60 (seconds). And after adding those to the queue I invoked the queue's `pause` method. I waited 60 secon

[2021-03-12 10:21] manast commented on #427
The pause method does not affect the delayed jobs. A delayed job is stored as a future timestamp and thats when it will be processed if there are unpaused workers running.

[2021-03-12 10:24] hsynlms commented on #427
Do you think it would be a good thing to re-calculate timestamps before resuming the queue? Maybe a feature request?

[2021-03-12 10:27] manast commented on #427
sure... it is possible, a matter of atomically storing the pause timestamp and then when unpausing calculating the time the queue was paused and update accordingly all the delayed jobs.

[2021-03-12 10:57] andrisi commented on #423
I'd need events too, preferably for all queues in one API (connection) but as you said, redis connections are "cheap" so no problem. Perhaps it is something to think about for the BullMQ module for redis: a not per-queue API. Thanks.

[2021-03-12 10:57] #423 closed

[2021-03-12 12:08] manast commented on #423
In the redis BullMQ module you can use multiple queues with the same connection, however some operations are blocking so while they are blocked you cannot use that same connection for other operations.

[2021-03-12 12:40] nflorentin commented on #393
Just to keep you updated, no interruption of my repeated jobs since I upgraded to last version.

I keep an eye on it.

[2021-03-12 17:07] francescov1 commented on #425
Perfect, that's exactly what I was looking for. Thanks so much 😊

[2021-03-12 17:07] #425 closed

[2021-03-12 22:21] hasparus commented on #422
But, I'm not iterating the array?... at least I don't think so, I last wrote Lua a few years ago.
My patch in "pseudocode" should be more or less
[code]

I assume `unpack` does some iteration here, but iterating through entire `active` and iterating through `active` in batches of 7000 shouldn't be much different (right? I'm truly not a Lua guy). My code does more `SADD` calls, though, and I admit,

[2021-03-13 10:06] manast commented on #422
ah ok, sorry I did not understand the code completely at a fast glance. So basically it is just unpack consuming different parts of the array which we could presume is fast enough.

The bug can be reproduced locally on my machine and it happened on our production, so I may have approached it wrongly.

Could it be the version of redis? Maybe the one you use in production has this limitation but the

[2021-03-13 16:06] lukepolo opened #429 "client.moveToActive is not a function"
Using the base example of

[code]

TypeError: client.moveToActive is not a function
    at Function.moveToActive (webpack-internal:///./node_modules/bullmq/dist/classes/scripts.js:248:37)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async Worker.moveToActive (webpack-internal:///./node_modules/bullmq/dist/classes/worker.js:145:31)

[code]

I must be doing somethin

[2021-03-13 16:49] lukepolo commented on #429
webpack issue,

`     .set("__dirname", true)`

[2021-03-13 16:49] #429 closed

[2021-03-16 06:57] MurzNN opened #430 "[Feature request] Function to remove all jobs from Queue including Repeatable"
With active development very often Queues accumulate many test jobs, especially when experimenting with delayed and repeatable jobs.
But I can't find the easy way to cleanup the Queue (excluding manual removing from Redis), to remove all jobs from Queue, including delayed and repeatable.

At now I see the `drain()` and `clean()` functions, but they didn't remove the repeatable jobs.

Also exists t

[2021-03-16 07:10] MurzNN commented on #430
At now I have this code to cleanup:
[code]
but still see 45 records about this job in redis via mask `bull:foo:`:
[code]

[2021-03-16 07:48] MurzNN opened #431 "Delayed and Repeatable parameters together in one Job not working"
I need to use both `delay` and `repeat` parameters in BullMQ Job instance, for make a delay of first job execution, so I compose code like this:
[code]
And the problem is that the first job launch is happens at 5 sec delay, instead of 20 sec, here is output:
[code]

[2021-03-16 07:52] MurzNN commented on #431
If I comment-out the `repeat section`:
[code]
delay works well:
[code]

[2021-03-16 17:13] SlovakianCanon opened #432 "Concurrency inside of a given process"
I've been trying all kinds of patterns to achieve what I need, and I've had only limited success so far.

Let's say I have a job type that's very CPU-intensive. I want to be able to process multiple jobs of that type at the same time, so I scaled horizontally and created multiple worker instances in different servers.

The one particular constraint I have is that for each user (< 50 users, let's s

[2021-03-17 22:05] manast commented on #430
I will prioritize this up since it is a common request!.

[2021-03-17 22:09] manast commented on #431
The delay cannot be combined with repeat, we should definitively throw an exception to avoid misunderstandings. However there is the "startDate" property that you can use, however it only works with "cron" expressions, not with "every". Maybe this is a workaround for your case.

[2021-03-17 22:13] #432 closed

[2021-03-18 05:57] MurzNN commented on #431
Thanks for clarification, I need the job that will be started, for example, at 3 hours after start, and repeats unlimited time every 10 minutes. If this cannot be combined, it's better to implement this in worker logic, or you can recommend some better solution?

[2021-03-18 07:42] manast commented on #431
Why cant you use a cron expression like * */10 * * * * ?
https://www.npmjs.com/package/cron-parser

[2021-03-18 07:44] MurzNN commented on #431
Because I need the startup delay for 3 hours, together with `*/10`

[2021-03-18 07:53] manast commented on #431
I wrote above you can use "startDate" too.

[2021-03-18 07:54] MurzNN commented on #431
Ok, thanks, this is the solution too!

[2021-03-18 08:44] #415 closed

[2021-03-18 08:45] manast commented on #406
exactly.

[2021-03-18 14:59] #430 closed

[2021-03-19 03:35] xiaoyu-tamu commented on #430
@manast  thank you

[2021-03-19 04:04] spearmootz commented on #225
If a number is passed what is the behavior? Does the job get removed only after completed or failed?

And what does the number represent? Seconds? I tried to look for documentation but i didn't find anything and I looked at code to see that if it's a number a 1 gets added to the number as a string and sent to a client that I couldn't find the code for (i was looking in my phone).

Thanks for this

[2021-03-19 06:34] acro5piano commented on #225
@spearmootz
Do you mean what `removeOnComplete` represents? If so, the number is meaning "how many keys saved to Redis per a queue after a queue completed"
So, if set to `100`, the completed job keys will be stored at most 100, and the older keys will be deleted.

Also note you need to run `QueueScheduler` with the option.

[2021-03-19 06:43] spearmootz commented on #225
That is exactly what I meant! Thank you!

[2021-03-19 13:01] manast commented on #430
I noticed that the implementation is not completely safe if you happen to use queue names with the ':' character as part of its name, so I released a patch for this (https://github.com/taskforcesh/bullmq/pull/435), so please update to version 1.15.1 to eliminate this risk.

[2021-03-19 18:05] hasparus commented on #422
Well, I can crash it with my app even on locally running Redis, but I failed to crash tests here.
I am familiar with this Lua limitation, and it's quite well known in the internet, so question here is _when can `active` become larger than 8000 items?_

[2021-03-19 19:27] manast commented on #422
@hasparus you need to have a number of workers times concurrency per worker > 8000 and a queue that has enough items to keep all the workers busy at max capacity.
Anyway, I think we should merge this fix even if we cannot reproduce it in a test case, because that case would be really heavy to run anyway in a CI system.

[2021-03-21 14:37] lewispham commented on #53
I think the docs should mention that `QueueEvents` does not reuse connections passed into `Queue`. So you need to pass the initialized connection to both `QueueEvents` and `Queue` if you want to reuse it. This behavior is actually quite weird imho. Shouldn't `QueueEvents` reuse the connection passed into `Queue`?

[2021-03-22 16:34] bogdan opened #436 "[Feature] Call Worker and QueueScheduler methods without launching the process"
Manually processing jobs like this: https://docs.bullmq.io/patterns/manually-fetching-jobs can cause problems because `new Worker` launches the process instantly. This can cause a lot of unpredictable effects in support scripts if I just want to manually resolve issues in a queue without processing any single job from there.

Is it possible to add a constructor option to prevent the process from b

[2021-03-22 21:04] manast commented on #436
No, it does not. If you do not define a process function the worker will not do anything.

I can agree on this. However not the comment above, it does not work as you assumed.

[2021-03-22 22:19] francescov1 commented on #425
Hey @manast, I think there may be an issue in the [pausing-queues](https://docs.bullmq.io/guide/workers/pausing-queues) docs you added, want to double check.

[code]

It is my understanding that calling `pause` with `false` or `undefined` should not wait for the worker to finish jobs, and if `true` is passed, it should. I checked the code and the worker pause function:

[code]

it seems that actua

[2021-03-22 22:38] francescov1 commented on #425
I would also like to clarify something, is there a way that I can gracefully shutdown workers that use rate limits? So essentially I am looking for a way to handle graceful shutdowns so that our system can wait for all jobs to finish (whether they are currently being processed, or delayed due to the rate limiter) and then we know for certain that all jobs are done and we can close everything else.

[2021-03-22 23:06] ScripterSugar opened #437 "Wrong redis version recognition when using AWS ElastiCache"
I keep getting this error when I try to use bullmq with my ElastiCache redis instance.

[code]

But my instance uses redis 6.0.5

Here's my instance information from AWS.

![image](https://user-images.githubusercontent.com/19164553/112069094-8a8d0480-8bae-11eb-9476-8e84ca57d21b.png)

I can confirm this, because I just created the instance from AWS console, with most recent settings.

I need to use

[2021-03-22 23:29] ScripterSugar commented on #437
Here's the redis_version from info query to my redis server using redis-cli.

![image](https://user-images.githubusercontent.com/19164553/112070777-bfe72180-8bb1-11eb-8353-45c9475202c3.png)

The server response have no problem... I wonder why bullMQ recognizes my server as 4.0.9

[2021-03-22 23:33] ScripterSugar commented on #437
Oops, I found that my bullMQ wasn't connecting to ElastiCache but my local instance. Sorry for the disturbance.

[2021-03-22 23:33] #437 closed

[2021-03-23 04:41] Mikkal24 commented on #248
I ran into a similar issue with the 'repeat' job type. I expected getJobs to return an array of jobs but, instead I got an array of 'undefined' which is weird.

I wrote a test inside `test_getters.ts` like manast suggested to make sure I'm not crazy.

[code]

Anyway,  I hope this issue gets resolved soon since I'd like more data than what the `getRepeatableJobs()` call gives me.

[2021-03-23 04:47] Mikkal24 commented on #248
literally minutes after posting I realized that the job type I'm looking for is "delayed" not "repeat" smh. I'll leave my post in case any other google wanderers run into the same problem lol.

[2021-03-23 07:41] manast commented on #425
yes you are right. We should never use boolean parameters for this reason :). I will fix it asap.

[2021-03-23 07:43] manast commented on #425
That is not currently possible unfortunately. Since delayed jobs are always moved back to wait status, and pause pauses wait, it means there is no proper way to only wait for delayed jobs to complete...

[2021-03-23 07:48] manast commented on #425
@francescov1 interestingly this will be possible with the new redis module (https://github.com/taskforcesh/bullmq-redis) however it is months before release...

[2021-03-23 13:11] bogdan commented on #436
Good to know about missing processor, however this is something that is not very obvious. It probably requires at least documentation.

It is interesting that redis connection is always cloned. Maybe this is required for "launch" mode with processor, but is it required for "support" mode without processor?

[2021-03-23 13:42] manast commented on #436
yes, that must be an oversight from my part, the connection does not need to be clones in this case at all.

[2021-03-23 16:39] francescov1 commented on #425
Booleans are confusing, totally agree ;)

Too bad about the delayed jobs, but understandable. Curious if it would be possible to achieve this by pausing the queue (while leaving the workers & queueScheduler running) and then continue checking if delayed/waiting jobs have all been picked up before pausing the worker? Or does pausing a queue also pause the wait status jobs?

I'm excited to try out t

[2021-03-23 16:55] manast commented on #425
Pausing the queue is implemented by renaming the "wait" list to "paused", this is quite powerful despite its simplicity, but since delayed jobs by design must be moved to the wait list before they can be picked up by workers... there may be a possibility though that I haven thought it through yet, namely to move the delayed jobs to a "wait" list even when paused. The problem to solve is how to dea

[2021-03-23 16:59] rbalaine opened #438 "Intermittent lua error "user_script:28: attempt to compare number with nil""
Hello!
I'm currently migrating from bull to bullmq and I can see the following lua script error in my logs:

[code]

This is happening after successfully running a job. Sometimes directly after job completion, sometimes a few minutes later. Most of the time this error appears 2 times.
It doesn't seem to have any impact. The job is moved to completed status, emit the associated event and finally re

[2021-03-24 09:59] jaschaio commented on #251
@AmreeshTyagi Unfortunately I have found to many issues with `bullmq` + `redis` that I never quite got the hang of. It was not reliable enough for me so I have since changed to `rabbitmq`. As @manast has said, 50k jobs per second is a crazy amount and I am nowhere near that amount – but I would probably look into a message queue that was specifically build for that kind of workloads like `kafka` o

[2021-03-24 18:06] notgiorgi opened #439 "What's the scenario when the same job will be executed more than once?"
From the [docs](https://docs.bullmq.io/what-is-bullmq):

There's an asterisk in the end but I couldn't find an explanation, what's the scenario when the same job will be executed more than once?

[2021-03-24 18:08] manast commented on #439
thats if your worker fails to keep the lock on the job till it completes (or fails it), so the job will become stall and processed by another worker.

[2021-03-24 18:18] notgiorgi commented on #439
I'm not sure how'd this happen, can you elaborate? Do you mean if the job throws an exception/rejects?

[2021-03-24 22:08] manast commented on #439
No. When a worker is processing a job it keeps a lock that expires by default every 30 seconds. If the job takes more time then that the worker will automatically extend the lock until the job completes (or fails). However if the worker for some reason do not extend the lock, for example if the process running the worker dies, then that job will become stalled and moved back to the wait list, and

[2021-03-25 06:25] notgiorgi commented on #439
It's clear now, thanks!

[2021-03-25 15:45] francescov1 commented on #425
Ahh I got it, interesting. Well the main reason I was curious about queue pausing was because I wanted to find the best way to ensure a graceful shutdown. Therefore the issue of needing to deal with jobs still left in "wait" after the queue being unpaused isn't super important, the idea here is that we'd try to ensure all the "wait" jobs get cleared and then we shut everything down.

I wonder if t

[2021-03-25 16:15] manast commented on #425
hmm, not sure. The thing is that you call close on one worker, but you may have hundreds of them, so normally you only want to wait for the jobs that are currently being processed by your current worker.

[2021-03-25 16:42] rbalaine commented on #438
Never mind, I just found an issue in my code. Queue.clean method signature have change between bull and bullmq, limit and type parameters are inverted 😅

[2021-03-25 16:42] #438 closed

[2021-03-25 16:50] manast commented on #438
I heavily recommend to use typescript only to avoid all these problems and for many more benefits.

[2021-03-29 11:58] karadikidd opened #441 "getJobs not returning all jobs in queue"
Hey,

I might be doing something wrong but having some issues with `getJobs()`.
I have the following code which fails using different approaches:

* `name` is identical for all jobs, `data` is different.
[code]

However, using `getWaitingCount()` seems to return the correct value...
[code]

Can someone please tell me what am I missing here?

Thanks!

[2021-03-29 12:05] manast commented on #441
I haven't run your code but we have a test that passes very similar to your code:
[code]

[2021-03-29 13:42] karadikidd commented on #441
Thank you for your prompt response, @manast!

Please disregard, I got it sorted out.

[2021-03-29 13:42] #441 closed

[2021-03-29 15:00] codetheweb opened #442 "TypeError: Converting circular structure to JSON"
I recently have been seeing a large increase in errors like this:

[code]

It's throwing on this line: https://github.com/taskforcesh/bullmq/blob/c2cfc965a05d1f2292e81b3819426059a7d5795f/src/classes/master.ts#L121

I believe the root cause is an error from [Got](https://www.npmjs.com/package/got). Would it be possible to add some kind of check here so circular structures in errors don't cause Bull

[2021-03-29 15:01] spearmootz commented on #193
this would be amazing.

[2021-03-29 15:13] manast commented on #442
Do you have a suggestion on how to implement this? as I understand, this happens because some unhandled exception in user code, it is mostly informing you that you have some unhandled error somewhere.

[2021-03-29 15:30] codetheweb commented on #442
Maybe attempt to do `JSON.stringify(err)` and if that throws then it's circular?

As long as it doesn't have any impact on Bull's operation it's not a big deal, but it would be nice to have a more user-friendly error.

[2021-03-29 15:46] manast commented on #442
If you are doing an operation that can throw an exception than you should handle that exception, like wrapping it in a try/catch statement. BullMQ wraps your processor in a try/catch already, so topmost exceptions are caught and results in the job failing. My guess is that you are calling that stringify in some callback deeper down the stack, then there is nothing we can do other than what we are

[2021-03-29 15:53] codetheweb commented on #442
Ah you're probably right, thank you.

[2021-03-29 15:53] #442 closed

[2021-03-29 19:51] spearmootz opened #443 "Stalled job not requeued"
I had a job that reported as "Stalled".  In redis there was a lock, an entry in the stalled key.  Nothing seemed to be wrong, but the stalled job did not reprocess and the subsequent jobs did not process either.

the worker is a sandboxed worker, the original work process did not break or have an error from what i can see.

I have a queue class that automatically instantiates queue, the worker sha

[2021-03-29 20:43] manast commented on #443
How was it reported as stalled?

[2021-03-29 20:46] spearmootz commented on #443
<img width="779" alt="Screen Shot 2021-03-29 at 2 44 12 PM" src="https://user-images.githubusercontent.com/19737290/112897756-3b0e7300-909d-11eb-9fa5-6ed7f2db96e5.png">
<img width="571" alt="Screen Shot 2021-03-29 at 2 44 25 PM" src="https://user-images.githubusercontent.com/19737290/112897777-42ce1780-909d-11eb-9102-1beefc641e71.png">
<img width="512" alt="Screen Shot 2021-03-29 at 2 44 36 PM" sr

[2021-03-29 20:46] spearmootz commented on #443
Let me know if there is anything else i can provide. love bullmq btw.

[2021-03-30 07:14] manast commented on #443
are you sure your QueueScheduler is connected and working?

[2021-03-30 07:16] manast commented on #193
@gWOLF3 it is documented, I do not know how to make it more clear :/. https://docs.bullmq.io/guide/jobs/delayed

[2021-03-30 12:39] spearmootz commented on #443
This is my class. should i be listening to a disconnect event or something along those lines?

if you see on instastiation i create a queueScheduler with its on connection.

[code]

[2021-03-30 13:08] Wolvan commented on #155
I can definitely reproduce it. Attaching a debugger to my Node process and checking the heap after resuming I get this:
![image](https://user-images.githubusercontent.com/1437010/112989438-37462380-9165-11eb-9719-209cb750235f.png)
which honestly doesn't seem like a healthy heap, if you're asking me.
The heap seems to fill up with an Array of Arrays of Promises.

[Heap-20210330T150119.heapsnapshot.

[2021-03-30 14:36] spearmootz commented on #193
@manast i think it is more like a polling kind of a thing.

like, a job fired to do something, but the job itself checks something and says oh i cant do this yet.  At this time you can queue another job to check at a later time but i think what @gWOLF3 meant was something like

job.delaySelf(arbitraryAmountOfTime)

[2021-03-30 14:48] manast commented on #155
@Wolvan if you can reproduce it can you provide a minimal use case that reproduces it so that we can look into it?

[2021-03-30 15:01] manast commented on #193
@spearmootz sounds like a useful feature, also in the case you are calling an external api and you get rate limited, you could delay yourself and try later. So basically we need to implement a special "completion" state that is not completing just delaying, similar to when a job fails and must be retried with some backoff delay.

[2021-03-30 15:06] manast commented on #443
difficult to know just from this code, I would attach some event listeners to _queueScheduler and its connection to see if it is behaving correctly.

[2021-03-30 18:39] spearmootz commented on #443
any suggestions, trying to be independent here to find the source of the problem.

i tried to do something like getEventNames() and it returns an empty array. i tried to subscribe to all the keys in the queue-base with no luck.

Now i access the redis client and open a monitor and log everything but its a lot of data

[2021-03-30 18:54] manast commented on #443
so can you attach listeners to
[code]
listen to other events such as error, disconnect, etc. they are documented here: https://github.com/luin/ioredis#connection-events

[2021-03-30 18:55] manast commented on #443
if everything is correct you should see the console logs of the events, if not, something is wrong in your connection, also make sure you are connecting to the correct redis instance, it is quite common to make the mistake of using the wrong instance...

[2021-03-30 20:09] manast commented on #443
no, that is very strange, it does not make any sense that the connection created inside QueueScheduler is not connecting.

[2021-03-30 20:10] manast commented on #443
I would put console logs inside the QueueScheduler code to see why the connection created inside is not correct. Have you attached more events besides connect? like error, etc?

[2021-03-30 20:12] spearmootz commented on #443
ok, so i have done that and what i find is that the connection connects, there are no errors at any point. one thing i find interesting is that i only see that this.run() gets only called once.

[2021-03-30 20:15] spearmootz commented on #443
so i intercept the redis connection you pass to queue base that then passes it to redis_connection and do the following

['connect', 'ready', 'error', 'close', 'reconnecting', 'end', 'wait'].forEach((event) => {
        newConnection.on(event, () => console.log(`queueScheduler EVENT: ${event}`));
      });

      i also put a console log when this.run is called and here is the resulting logs

queu

[2021-03-30 20:16] manast commented on #443
that seems to be correct

[2021-03-30 20:17] manast commented on #443
Inside the QueueScheduler, this call is the one that will move stalled jobs back to wait:
[code]

[2021-03-30 20:19] spearmootz commented on #443
ok! i will go ahead and put the console log there and watch it in production.  ill reply back tomorrow with results!

[2021-03-31 07:18] manast commented on #443
@mfrye let me know what you like me to add to this please https://docs.bullmq.io/guide/jobs/stalled

[2021-04-01 01:46] mfrye commented on #443
@manast I'm not if you can answer it, but potentially low level details, or at least point me in the right direction where I can find them, into exactly how CPU could affect the stalling.

In my case, jobs are either failing or legitimately stalling, yet they are never removed from the active queue.

I'm up to date with the latest version, have followed the docs exactly around sandboxing, separate

[2021-04-01 03:24] mfrye commented on #443
I think I've narrowed down what's happening to somewhere in the processJob worker, related to the lockExtender function. Jobs fail or stall, but the lock timer isn't being cleared out. It just keeps going and extending the lock indefinitely.

I'll try to see if I can figure out a fix and post back. I've temporarily hacked a solution that's looking at job timestamps and deleting the lock file direc

[2021-04-01 07:49] nshusr opened #447 "TypeError: Do not know how to serialize a BigInt"
use graphql bigint

Maybe this can solve this problem https://github.com/GoogleChromeLabs/jsbi/issues/30#issuecomment-521460510

[code]

[2021-04-01 08:15] nshusr commented on #447
that is BigInt toString not support , use that fix https://github.com/sqlpad/sqlpad/pull/522/files#diff-0aa0012567e019496f013711295caf673494e57804401f2de215549959f7f848R93

[2021-04-01 08:15] #447 closed

[2021-04-02 08:10] Wolvan commented on #155
Alright, here you go. Also recorded a video so you know exactly what I did.

[code]
Versions: bullmq@1.10.0
MacOS: 10.14.6
NodeJS: 14.15.1
https://user-images.githubusercontent.com/1437010/113395682-845f0b00-939a-11eb-810e-d2bf6d7a79a8.mp4

Turns out I was on an outdated bullmq version. What I notice now instead is that trying to resume gives me a redis connection closed error, see
![image](https:

[2021-04-03 04:34] prescience-data opened #448 "Alternative to named processors?"
Currently migrating from Bull 3, and not certain I understand what the new/alternative implementation of named processors is.

In the existing codebase, there is a server that receives jobs over http, parses the payload and then dispatches the job on a named process _("channel")_.

[code]

In this case, there are workers running on hot instances that subscribe to a channel stack that represent the

[2021-04-03 19:08] manast commented on #443
@mfrye I am a bit concerned you are not using BullMQ optimally. For instance, stalled jobs do not "hang" a queue, they are just moved back to wait status. Let's assume that for some reason they are not moved to wait, then the queue should continue processing other jobs in the wait list. However, maybe your workers are not working properly, maybe they are not finishing or something. Also it bothers

[2021-04-04 15:17] dor272 opened #451 "Scheduler doesn't close it's connection"
After digging and many tests it seems like the scheduler doesn't close doesn't close all connections.

I wrote a class:
[code]

The idea is to have a managed "subject" as a queue, all in one place.
I pass an existing connection that the class inherits but as expected the `worker` and `scheduler` duplicate it.
When running my tests there was a connection hanging at the end, took me time to isolate

[2021-04-05 15:59] mfrye commented on #443
@manast I'd appreciate any advice on optimal way to use BullMQ, or if it's even a good tool for my use case.

I'm using BullMQ in a few different areas of my pipeline right now, but the main area I'm having issues is at the tail end. It's basically a scrape queue, where jobs can be added from internal processes (priority 3) or by a realtime request (priority 1). If it's a realtime request, `job.wa

[2021-04-06 08:12] dor272 commented on #451
It's seems like something similar happens with `Worker` as well.
tried a very basic test:
[code]
again, a connection left open. seems like `Worker.close()` closes only the blocking connection it creates and doesn't take care of the redis client created at it parent `QueueBase`. The only option to completely close all connections is to call `worker.disconnect()` which is actually method of `QueueBa

[2021-04-06 13:16] manast commented on #448
Functionality wise, Bullv3 and BullMQ provides the same, it just that the syntax is different. In BullMQ you only define 1 processor, and then inside the processor you can choose different code paths depending on the "job.name" property. In your case this will mean a bit more of code, but named processors where causing a lot of confusion so we decided to remove the syntax sugar and made it more ex

[2021-04-06 23:20] prescience-data commented on #448
Thanks so much for the reply!

So if a job comes in on queue `foo` that matches none of the target job names, wouldn't it just fail?

### factories.ts
[code]
### hooks.ts
**_This is the part I'm not sure I fully understand how to handle?_**
[code]

### worker.ts
[code]

[2021-04-07 02:34] acro5piano commented on #301
How about setting `jobId` and `discard` by the ID?

[code]

[2021-04-07 02:37] acro5piano commented on #225
I've found `removeOnComplete` also accepts `boolean`, which enables you to delete completed / failed job key immediately.

![image](https://user-images.githubusercontent.com/10719495/113802334-0f008b00-974a-11eb-8d6d-74e4b901e234.png)

However, setting `number` is more practical way because we want to check what was going on the failed job.

[2021-04-07 06:15] acro5piano commented on #448
I had a similar confusion to @prescience-data .

So single processor (worker) and single queue with full type-safety code should be like this?

[code]

[2021-04-07 06:20] tobiaslins opened #452 "Worker doesn't start processing after reconnect"
I am getting following error lately:
[code]

After the container restarts it can't connect to Redis anymore. Bull doesn't even recognize that it can't reconnect so the process stays alive.

What is the best way handling this?
1. How can I make sure that there is no unhandledRejection in that case?
2. Is there a way to reconnect a worker?

My healthcheck is calling queue.getWaitingCount() and this

[2021-04-07 06:24] prescience-data commented on #448
My concern is:

I don't think that's what I actually want to happen in this case (moving the job to failed), it seems like I need the worker to simply not receive the job in the first place and let and let the correct worker assigned to that job name pick it up?

[2021-04-07 07:52] manast commented on #448
Thats not possible, neither with BullMQ nor Bull v3.

[2021-04-07 10:36] prescience-data commented on #448
It seemed to work in Bull 3?
But I'm definitely not clear on what was actually happening under the hood?
The flow I had was each worker "subscribed" to the named processors it was responsible for, then paused itself locally on the queue immediately after receiving a job.

[2021-04-07 10:41] manast commented on #448
I think in bull you get an exception but the job does not fail, so the job probably gets stalled and then picked up later. If this mechanism worked for you it was most of pure luck than by bull's design.

[2021-04-07 10:53] prescience-data commented on #448
😂
Ok so is there a potential solution by adding more queues?

I've switched to [manual job fetching](https://docs.bullmq.io/patterns/manually-fetching-jobs), but is there a way to interrupt all the `(await worker.getNextJob(token))` simultaneously?

My only concern with this approach is it exponentially increases the number of queues, so if I'm understanding the Taskforce.sh pricing it will be `$9

[2021-04-07 11:21] manast commented on #448
@prescience-data not sure I have a complete picture of your use case. Basically you want to have 1 queue but depending on the type of job process it in one or another worker ? and the question that follows is why is it important that they run in different workers depending on types?

[2021-04-07 11:40] prescience-data commented on #448
so the use case in a bit sharper detail is

- a worker represents a specific device in a specific region with a specific role
- (ideally) I can send a job to:
  - a) the fully qualified signature (ie `"hardware-1:region-2:role-5"`)
  - b) a partial of the signature (ie `"hardware-1:role-4"`)
  - c) the global queue (ie `"all"`)
 and the worker should respond to any of those calls (but not `"hardwa

[2021-04-07 11:56] ScripterSugar opened #453 "Repeatable jobs are duplicating due to "count" option field"
The BullMQ documentation says:
[code]

So I tested if BullMQ can handle same repeatable jobs with same repeat options to not duplicated even if it is called several times.
 I added the below line of code to my server.

[code]

It's simple cronjob definition with constant name. I confirmed that bullMQ is "smart enough" to find out that the job is duplicated, if I call above line of code many times

[2021-04-07 12:57] manast commented on #453
Could you provide a test code that reproduces the issue?, because it should not work as you described it. Using the same cron does not yield duplicates independently if it has already executed some iterations or not.

[2021-04-07 15:35] nikolayemrikh opened #455 "Add a way to fail job without throwing error from processor"
From the [docs](https://docs.bullmq.io/guide/retrying-failing-jobs):

In this way you can't separate exceptions and errors

For example i have a processor, that can:
* succeed and return value of type `T`
* generate an exception of type `E` and return it
* throw uncaught error (for example error, that emerged in external library)

There's one way right now, how you can return exception from the pr

[2021-04-08 08:27] Wolvan opened #456 "[Feature request] Assign meaningful names to workers"
To keep a consistent overview of my current workers, I would like to assign each of them a meaningful name, the hostname of the computer they are running on for example.
That way, when calling `queue.getWorkers()` I can tell which machine the worker is running on.
Trying to set the `worker.name` property changes the entire queue that the worker is listening to, unfortunately.
And checking `queue.g

[2021-04-08 10:20] manast commented on #456
yes, the lack of a feature like this has been itching for a while now.

[2021-04-08 10:37] manast commented on #301
This would actually be relative easy to implement by having a TTL in the wait list, if when the job reaches the tip of the queue the TTL has passed we can just discard the job. However I am not sure this feature is very demanded so I will give it low priority or if anybody wants they can submit a PR.

[2021-04-08 10:38] manast commented on #301
Note: when discarding the job probably we want to actually move it to fail so that we can keep accounting of the discarded jobs.

[2021-04-08 12:23] loris opened #457 "[Question] Redis autopipelining"
ioredis, used by bull, added [support for autopipelining](https://github.com/luin/ioredis#autopipelining).
It states `This feature can dramatically improve throughput and avoids HOL blocking. In our benchmarks, the improvement was between 35% and 50%.`

I was wondering if it would also improve bull performance, or on the contrary is not compatible / will impact negatively how bull works? Anyone ha

[2021-04-08 12:38] manast commented on #457
It needs to be tested, could be useful when using high concurrency settings.

[2021-04-08 16:48] jorgecuesta opened #458 "Job ID is not preventing duplicates?"
HI People I'm new using BullMQ is my first time with this, is an awesome tool and is working amazing.
My case is a long story but basically I'm generating the job id based on another id of an element that I need to process.
Today using Bull Dashboard I figure out that is I run queue.addBulk with an id that is already added it adds a duplicate.
![Screenshot_2021-04-08_12-41-57](https://user-images.

[2021-04-08 17:48] manast commented on #458
Interesting, it seems like jobId is indeed ignored, since I see different ids on the left, #34939 vs #22769. Will take a look at this.

[2021-04-08 17:59] manast commented on #458
ok, I found the issue, I will submit a patch soon.

[2021-04-09 03:17] henjue opened #459 "CROSSSLOT Keys in request don't hash to the same slot"
CROSSSLOT Keys in request don't hash to the same slot when  redis run  on cluster mode

[2021-04-09 04:24] prescience-data commented on #392
Similar issue with `esbuild`, both `bull` and `bullmq` are one of the few packages that cannot be bundled
(Throws `.addJob() is not a function` error when bundle is executed)

[2021-04-09 06:38] manast commented on #459
https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#redis-cluster

[2021-04-09 12:13] henjue commented on #459
thk

[2021-04-09 12:13] #459 closed

[2021-04-09 17:21] andrisi opened #463 "sandboxed worker .cjs"
Trying to use a sandboxed processor file from a project that uses ES6 modules, but as BullMQ seems to use require(), this does not work with ES6 modules in nodejs 15. require() says "require() of ES modules is not supported". So I'd use a CommonJS modul, but that need a .cjs extension, and it's not in the list of supported extensions in your worker.js around line 52. If I add .cjs it starts but I'

[2021-04-09 17:49] andrisi commented on #463
changing tha handling of the 'init' message in your worker.js as this helps:

[code]

[2021-04-09 20:45] JosephScript commented on #414
It also doesn't have `job.isActive` or any of the other functions:

[code]

[2021-04-09 21:08] jorgecuesta commented on #458
ok @manast please let me know when you be able to fix it. Thanks!

[2021-04-09 21:42] JosephScript commented on #414
I'm not sure if I should open a new issue or not since it seems related, but the event listeners also do not work on Sandboxed processors:

[code]

[2021-04-10 07:04] prescience-data opened #464 "Missing lock for job 1 finished"
Hey again @manast ! 👋

I've implemented the flow we discussed for the manual job processing, and now the server is successfully dispatching the job, the worker is successfully completing it, but I've hit the following error:

[code]

### Existing issues / suggestions

I noticed there is an existing issue open here https://github.com/taskforcesh/bullmq/issues/424 regarding the `ioredis` prefix, but

[2021-04-10 07:30] prescience-data commented on #464
Sorry, disregard - There was a mismatch in the token values 🙈

[2021-04-10 07:30] #464 closed

[2021-04-10 09:25] manast commented on #458
I was working on this PR so I fixed it here: https://github.com/taskforcesh/bullmq/pull/454
will be released today.

[2021-04-10 20:44] jorgecuesta commented on #336
@manast exists some way to reuse a redis connection using sandboxes jobs?

[2021-04-11 08:11] manast commented on #336
@jorgecuesta https://docs.bullmq.io/guide/connections

[2021-04-11 08:11] #336 closed

[2021-04-12 14:18] jorgecuesta commented on #458
@manast pr is merge so in the latest release is already fixed right?

[2021-04-12 15:44] manast commented on #458
not yet sorry. There is an error with the deployment that I need to fix first.

[2021-04-12 16:18] Co-sta opened #465 "Max number of workers per process"
I'm trying to create in a single process (node file) a list of workers (each one accessing its own queue).
What I found is that even thought I have more than 70 queues, only the first 70 workers are consuming jobs.
Is this a BullMq limitation or could it be a Redis problem?

[2021-04-12 16:43] manast commented on #458
It is released now.

[2021-04-12 16:43] #458 closed

[2021-04-12 18:48] jorgecuesta commented on #336
@manast I saw that, but neither is a sample for sandboxes, when you lunch sandboxes workers each "script" start a new connection because they run in a separate process.

[2021-04-12 20:08] yoonslee opened #466 "Build error related to latest version (v1.16.0)"
Ever since v1.16.0 was released, I have been experiencing the following build error:

`node_modules/bullmq/dist/classes/flow.d.ts(6,25): error TS2307: Cannot find module '@src/interfaces/flow-job' or its corresponding type declarations.`

I am on Typescript v4.2.4.

Reverting, i.e. locking the package version to v1.15.1, gets my build working again.

[2021-04-12 21:34] #466 closed

[2021-04-12 22:02] manast commented on #336
@jorgecuesta no because only the main process keeps the connection, the processes are only used to process the jobs.

[2021-04-12 22:21] Pietrox opened #468 "JobFlow not registering names"
While trying to add a JobFlow the property name is not being used in the queue.
In redis property name shows "default" and it fails to get a job handler.

Methods I used were manual hardcoded and also via objects factory, both bring same result.
Sample code:

[code]
`failedReason: Missing process handler for job type __default__`

With default processor for all non-named Jobs it seems to work fine

[2021-04-12 22:28] Pietrox commented on #468
Ok, I completely stripped it out from constructor and did the documentation way - it works fine now.

This is Nestjs not being ready for this feature. So I will mention it @nestjs/bull.

[2021-04-12 22:28] #468 closed

[2021-04-13 05:52] #233 closed

[2021-04-13 05:53] #231 closed

[2021-04-13 05:53] #230 closed

[2021-04-13 10:17] #439 closed

[2021-04-13 18:22] naicoi2407 opened #469 "Vercel add Job : TypeError: client.addJob is not a function"
Thanks for developing this open source. I really enjoy it.
I have encountered this problem when running on vercel serverless.
The source code works perfectly fine on local.
[code]

Example Code:
[code]

[2021-04-13 19:33] krinoid commented on #469
I'm encountering the same error (works locally, fails on Vercel). This issue seems somehow related: https://github.com/taskforcesh/bullmq/issues/79

[2021-04-13 20:37] krinoid commented on #469
I've done some research, and my **guess** right now is that the `*.lua` files are not bundled and can't be used in the Vercel's serverless environment.

I've tried to use `vercel.json` config with `includeFiles` as suggested in [0], but since I'm using redwood.js, this avenue won't work, as `includeFiles` won't work, per Vercel's own reply [1].

I'll continue looking for a solution/workaround late

[2021-04-13 21:09] manast commented on #469
I do not know how vercel works but my feeling is that the deployment is missing the lua files: https://github.com/taskforcesh/bullmq/tree/master/src/commands
which also is placed on the dist directory of the npm module at /bullmq/dist/commands
If those lua scripts are in the correct place when any of BullMQ main classes are instantiated they will be loaded and you should not get any error.

[2021-04-13 21:17] krinoid commented on #469
Yes, I think that's correct. I've tried different workarounds but had issues including the lua files along the functions. For now, I've downgraded from `bullmq` to `bull` and it works as expected on Vercel.

[2021-04-14 06:06] naicoi2407 commented on #469
https://github.com/OptimalBits/bull/tree/develop/lib/commands
https://github.com/taskforcesh/bullmq/tree/master/src/commands

They all use lua files, why bull works but bullmq doesn't?

[2021-04-14 08:36] naicoi2407 commented on #469
I found a workaround for this while customizing the **vercel.json** file. Hope to be able to help anyone who is having this problem.
[code]

[2021-04-14 14:58] Co-sta commented on #341
I'm having the same issue. I've tested and in Bull  4000 queues can be created with no shortage of file descriptors (not that I need so many queues). But whenever I've tried the same test with BullMQ, only 203 queues can be created before this error happens.

Could it be something wrong with BullMQ Queue class?

[2021-04-14 16:34] manast commented on #341
I do not think anything is wrong, but lets try by reading the files serially, that should minimize the number of files open at any given time: https://github.com/taskforcesh/bullmq/pull/470

[2021-04-14 17:14] Co-sta commented on #341
Don't know if it helps but I'm running in Ubuntu 18.04.5 LTS

[2021-04-14 17:39] krinoid commented on #469
Yeah, that's very strange! I don't have enough time to dive deep into the issue but that seems like a useful data point during debugging.

I've seen `vercel.json`-based workaround in some other issue but it doesn't work in every case (e.g. when you're using redwood) 👈  for those in the same boat as me :).

[2021-04-14 19:57] manast commented on #341
@Co-sta please try with latest version 1.16.2

[2021-04-15 07:25] cheluskin opened #471 "wrong delay on Repeatable"
"bullmq": "^1.15.1",
[code]
why delay 319174534?

[2021-04-15 08:05] manast commented on #471
Time is divided by 345600000 and then jobs are repeated at every such slot. This is so that it works in a distributed environment without job duplicates.

[2021-04-15 08:05] #471 closed

[2021-04-15 08:19] cheluskin commented on #471
Thanks for the quick response. The job starts 8 hours earlier than intended. How can you avoid this?

[2021-04-15 09:56] Co-sta commented on #341
I've tested the new version and it seems that I can now create up to 400 queues. It seems that reading the files serially helps preventing the error.

[2021-04-15 10:06] manast commented on #341
@Co-sta do you get the error after 400 queues? I guess there is also a limit if you instantiate all the 400 queues at the same time instead of serially. This is mostly a problem with BullMQ itself that loads the files in the constructor instead of explicitly via a "start" method or similar.

[2021-04-15 10:11] manast commented on #471
You can try using the "startDate" option and a suitable "cron" expression.

[2021-04-15 10:12] Co-sta commented on #341
Yes after 400 queues i get "Error: EMFILE: too many open files" error.

This is my code to create the queues:

""
const Bull = require("bullmq");
const connection = new IORedis();

for (let i = 0; i < queueNames.length; i++) {
  const queue = new Bull.Queue(queueNames[i], { connection });
  queueList[queueNames[i]] = queue;
}
""

queueNames is a list of strings.

[2021-04-15 10:13] stefanpl opened #472 "TypeScript class declaration – superfluous generic parameter"
In the `dist/classes/queue.d.ts` you can find this class declaration:

[code]

But the generic parameter `R` is never actually used. This makes using the class a bit awkward, since (if you want to provide a custom argument for `N`) you have to provide a meaningless dummy value for `R`. That is, after you've found out that is has no real purpose in the first place.

Am I missing something here? Or

[2021-04-15 10:16] Co-sta commented on #341
Is Bull3 using a method insead of loading the files in the constructor?

[2021-04-15 10:40] cheluskin commented on #471
There is an error in the calculation logic. I understand that you wanted to spread the execution of tasks in time, but now this is unpredictable. No one can know exactly when the task will start.

[2021-04-15 10:41] manast commented on #341
try this instead:
[code]

[2021-04-15 11:18] manast commented on #471
startDate only works with cron expressions, that will help you to determine exactly when every iteration will be executed.
You can also just use delayed jobs if you want a task to be executed at an exact time.
If you think "repeat.every" does not work correctly please propose an alternative implementation, as mentioned, the repetitions must happen at specific slots to avoid job duplicates across w

[2021-04-15 11:33] cheluskin commented on #471
Thanks for the help. I understand, but I cannot imagine a case when the difference of 8 hours is not critical for a scheduled task. And if the interval is not 4 days, but 40, then it turns out the task will start about a week earlier, if you're lucky. Cron is often not suitable because if you plan every three days, then it breaks the month into sections of 3 and they do not coincide with the begin

[2021-04-15 11:59] manast commented on #471
@cheluskin you are just considering a case where "repeat.every" is not suitable, but many people is using this feature in many other scenarios happily. You can always implement your repeat using the delay feature so that it fits your needs.

[2021-04-15 12:59] manast commented on #472
It is used for the jobs return data type https://github.com/taskforcesh/bullmq/blob/master/src/classes/queue.ts#L64

[2021-04-15 12:59] #472 closed

[2021-04-15 13:53] Co-sta commented on #341
It seems to be working. I will continue to my stress test but so far so good.

My only problem now is the maximum number of queues/workers accessible by a single process(.js file) being 70. But I've already created an issue for that #465.

Thanks for the help so far

[2021-04-15 14:10] stefanpl commented on #472
@manast thanks for responding so quickly. It might be in your sources files – in the `dist` folder that's distributed (again, please lookt at`dist/classes/queue.d.ts`) via npm it's definitely not:

[code]

So when I do this:
[code]
my `job` is typed as `Promise<Job<any, any, string>>`. No surprise, if you check the declaration file.

Sorry for not being able to dig any deeper right now. But I defi

[2021-04-15 14:46] Co-sta commented on #465
This is the code I'm running:

[code]

Main.init is the function that handles the job. In this case is only a print.

[2021-04-15 15:08] manast commented on #472
yes, I can see what you mean. But what is the bug? the code seems correctly to me, a bug in Typescript perhaps? if you know why the .d.ts is ignoring the R generic type please share it with me.

[2021-04-15 15:29] stefanpl commented on #472
I'm in a bit of a hurry today … hopefully I'll be able to have a closer look tomorrow or over the weekend. Nothing beats debugging weird TS stuff on a Sunday afternoon 😊

[2021-04-15 17:12] loris commented on #218
@manast we are facing an issue similar to the one described [here](https://github.com/patrickshuff): we have hundreds of queues, running great, but a very few of them have rate limiter settings. Every time we have lots of jobs (100k+) added to those rate limited queues, our redis server CPU will go up to 100%.

Since we are using bullmq, and that guardInterval seems not a workaround, do you have a

[2021-04-15 18:17] manast commented on #218
can you share your rate limiter settings please?

[2021-04-15 20:43] loris commented on #218
@manast sure:

[code]

this is set at the Worker level

[2021-04-15 23:04] prescience-data commented on #448
Ok for future reference, I found the way to achieve the desired outcomes in this use case was with the ["Manually Fetch Jobs"](https://docs.bullmq.io/patterns/manually-fetching-jobs) pattern.

This way you can control the worker "channel" listeners centrally without needing to pause and unpause locally, which turns out to be far cleaner and atomic than the flow I described above.

See this [discus

[2021-04-15 23:04] #448 closed

[2021-04-16 07:37] manast commented on #218
@loris I have an intuition on what the problem is so I am going to implement a simple heuristic for workers that I hope will bring down the CPU usage for this particular case considerably. I will try to get it ready ASAP.

[2021-04-16 15:54] Co-sta commented on #341
It seems that this..

[code]

... resolved the problem. I can not find in the documentation what this does though. Could you elaborate or point me in the right direction? Could this also be used in the initialization of Workers and QueueSchedulers like this?:

[code]

[code]

[2021-04-16 16:16] manast commented on #341
it waits for the connection to be ready.

[2021-04-17 07:48] prescience-data commented on #469
@manast  @naicoi2407
For additional context, this also occurs when bundling with [esbuild](https://esbuild.github.io/getting-started/#bundling-for-node)

I've found that when this occurs it is either due to:
a) a circular dependency (which can be ferreted out with [madge](https://github.com/pahen/madge)), or;
b) a lazy-load style `require`

BullMQ (and Bull) are the final package I have not been a

[2021-04-17 07:57] prescience-data commented on #469
@manast

Just did a quick check, if it's possible to repair these, it will likely fix this issue:

[code]
![image](https://user-images.githubusercontent.com/65471523/115106108-41aa4f00-9fa6-11eb-80ba-c54b9d46f03f.png)

[2021-04-17 08:02] manast commented on #469
repair what? I do not get the problem.

[2021-04-17 08:06] prescience-data commented on #469
When a bundler runs (ie `webpack`, `rollup`, `esbuild`), either directly or as Vercel must also be doing in the background, it cannot handle / resolve circular dependencies so it creates these orphaned stubs that register as undefined at runtime.

As an example of the first one in that list, this is the root cause:
https://github.com/taskforcesh/bullmq/blob/master/src/classes/job.ts#L6

[2021-04-17 14:44] manast commented on #469
hmm, I cannot see the circular dependency, for example in the first case: https://github.com/taskforcesh/bullmq/blob/master/src/classes/job.ts#L6
where is the circular dependency?

[2021-04-17 16:51] prescience-data commented on #469
It is occuring when the code path attempts to import from "./" as the path for "job.ts" which is importing from "./" is itself exported from "./"

If you switch that line to import each class from it's own relative path it will remove the circular reference.

[2021-04-17 19:27] manast commented on #469
ok, but thats not circular dependencies, thats sounds more like a bug in webpack that is not handling file references correctly. Nevertheless we can do that change to workaround the problem.

[2021-04-17 21:36] prescience-data commented on #469
https://stackoverflow.com/a/49117079

[2021-04-19 10:23] loris commented on #218
@manast Thanks, let us know if we can try/test anything on our redis setup.

[2021-04-19 10:32] manast commented on #218
@loris I have a PR ready for this https://github.com/taskforcesh/bullmq/pull/479
It is a surgeon precision hack, where workers are delayed a bit instead of trying to pick the next job, I think this is what is causing the heave redis CPU spike. This change is not the holy grail but hopefully it keeps the redis CPU to sane levels. You need to activate this option in your limiter settings:
[code]

[2021-04-19 13:02] manast commented on #451
I made a PR that fixes the issue with the worker closing the connection from the base class, however I cannot see any issue with the QueueScheduler... If you can provide a minimal test case that demonstrates the issue I can take another look at it.

[2021-04-19 16:49] blankenshipz opened #483 "Events for flows"
Would it be possible to add a set of events that represent the state transitions of a flow?

[2021-04-19 17:07] manast commented on #483
When all the children of a parent job are completed, the parent job will be moved from "waiting-children" to "wait", and a "wait" event will be emitted with "prev" value equal "waiting-children". Is this not enough?

[2021-04-19 17:17] blankenshipz commented on #483
@manast Apologies I didn't realize that behavior existed; thanks!

[2021-04-19 19:32] eltoroit commented on #464
Which tokens were mismatched?

[2021-04-19 20:24] manast commented on #464
@eltoroit I think he means the token for the connector: https://docs.taskforce.sh/getting-started/taskforce-connector

[2021-04-19 22:27] prescience-data commented on #464
@eltoroit @manast
Ah sorry, to be more specific, it was the manual job token:
https://docs.bullmq.io/patterns/manually-fetching-jobs

In this particular case I had migrated some code that looked like this:

[code]

[2021-04-20 04:10] roggervalf commented on #143
@ccollie the pr was merged, are we safe to close this issue?

[2021-04-20 09:14] tobiaslins commented on #452
@manast
Do you have any ideas/suggestions for us? We have small processing outages with manual restarts of our services to start processing again. If we can't get this resolved we need to move to another queue and I really want to stick with Bull :(

Thanks a ton!

[2021-04-20 09:26] manast commented on #452
Connection with Redis is performed by ioredis which has reconnection functionality enabled by default: https://github.com/luin/ioredis
I am not sure what your problem is specifically, according to the logs you posted the problem seems to be that the domain private-db-redis-XXXXXXXXX.db.ondigitalocean.com is not resolved correctly, does not seem to be a problem with BullMQ as far as I can see... se

[2021-04-20 09:28] tobiaslins commented on #452
@manast  Thanks for your answer. The strange thing is that first this happens `Error: Missing Job 17568662 when trying to move from active to delayed`. After this, the worker crashes and the whole service restarts + can't connect anymore.
How can we make sure the worker keeps processing event this error happens?

Thanks!

[2021-04-20 09:33] manast commented on #452
what kind of redis instance is this? clustered, replicated with sentinel?

[2021-04-20 09:39] manast commented on #452
Btw, the error ```Error: Missing Job 17568662 when trying to move from active to delayed``` is produced when a job has failed and it is scheduled for a retry with backoff, but this error should in theory never be able to occur. Maybe it happens because something goes havoc with redis and this is the symptom, then you get the connection error but maybe the connection error happened before.

[2021-04-20 09:41] tobiaslins commented on #452
Managed Redis by DigitalOcean not replicated at the moment. It was running flawlessly for months and since about 1-2 weeks this is occurring.
Adding a cluster should solve this? Thanks for the insights so far!

[2021-04-20 09:47] tobiaslins commented on #452
Is there a way to check if the worker is still processing jobs or even better an event emitter?

I want to gracefully shut down the service when this happens.

[2021-04-20 10:03] manast commented on #452
cluster will not help. The simplest setup the easier to find the root of the issue. The worker will process jobs as long as it is connected, does not seem the case from the error you posted above.

[2021-04-20 10:04] manast commented on #452
If I were you I would login into the instance of the worker when this happens and check if it has connectivity.

[2021-04-20 10:07] tobiaslins commented on #452
Thanks. The strange thing is that when I restart the docker container which connects to Redis, it just starts processing again.
I also have a healthcheck that does `await requestQueue.getWaitingCount()` and the endpoint shows me the jobs queuing up. Worker is not processing anymore!

[2021-04-20 11:09] manast commented on #452
ok, so the problem is not reconnection as the title of the issue, it is that despite being connected it does not process anymore right?

[2021-04-20 11:10] tobiaslins commented on #452
True! Good point.

[2021-04-20 11:39] loris commented on #218
@manast thanks! We just set it up in prod and will let you know how it goes!

[2021-04-20 13:14] ccollie commented on #143
Sure, go ahead

[2021-04-20 16:58] manast commented on #452
I cannot find anything wrong in BullMQ, but I wonder are you attaching an error handler to your worker?, like:
[code]

Because the way NodeJS works, if you are lacking such a listener, the process will exit with an error... (yes I also think this is an awkward behaviour).

[2021-04-20 17:03] manast commented on #452
https://nodejs.org/api/events.html#events_error_events

[2021-04-20 22:37] roggervalf commented on #64
@jamesholcomb you can try last version, now moveToCompleted throw an error if you try to move to completed if the job is not in active state

[2021-04-20 22:43] jamesholcomb commented on #64
Can you summarize the changes that were made?  It's been a while since I looked at this particular issue.

[2021-04-20 23:08] roggervalf commented on #64
sure, now moveToCompleted verifies when deleting the job from active key, if that record was deleted or not, in case it was not deleted because there wasn't one, it throws an error that says that the actual job was not in active state, so job is not moved to completed, so now we should make sure that the job is in active state before moving it to completed state being aware of this

[2021-04-21 08:13] manast commented on #64
So I think we could close this issue now?

[2021-04-21 12:04] jamesholcomb commented on #64
Thanks @roggervalf. I reviewed my code and do not utilize moveToCompleted any longer.

[2021-04-21 12:04] #64 closed

[2021-04-21 12:56] tobiaslins commented on #452
Yes, I've attached it like this:
[code]

Thank you for all the help.
I'll further watch this issue and update in case I find something!

[2021-04-21 13:02] manast commented on #452
@tobiaslins did you attach it now or was it attached also before when you got the error?

[2021-04-21 13:05] tobiaslins commented on #452
@manast I already hat it attached before and it still crashed!

[2021-04-22 01:48] higgins opened #488 "addBulk with multiple repeating jobs only enqueues one repeating job"
Hello!
First, thank you for this library. 🏆

# Context
I'm initializing a queue with around 1000 repeatable jobs via the `addBulk` interface. A `QueueScheduler` for the queue has been instantiated. The jobs are *initially* enqueued and consumed just fine, but only the first job in the jobs array handed to `addBulk` repeats even though all jobs have the same repeat options.

# Problem
I expect all

[2021-04-22 04:21] ujwaldhakal opened #489 "Error: Missing lock for job 84 failed"
Hello i am using 2 node process one main and one for queue in supervisor with docker where i have set autorestart and start to true. When some job takes longer time I get . I was little confused on where to start and if anyone has similar issue that would be great.

A 2021-04-21T23:36:04.598667Z Error: Missing lock for job 84 failed
    at Function.finishedErrors (/var/www/node_modules/bullmq/dist

[2021-04-22 07:29] japrescott opened #490 "token mandatory?"
1.6.0 broke our system as we now need to pass a mandatory token. I saw the discussion in https://github.com/taskforcesh/bullmq/pull/484 where the token was originally optional but @roggervalf suggested it shall be mandatory.
There is no reference to an issue or any detail for what this token could/shall be used for. It seems totally useless. Anyone care to elaborate what the idea behind it is?

[2021-04-22 07:44] manast commented on #490
ahh, ok. This is my fault. I was not thinking correctly here. I will make it optional and make a new release, sorry for the mistake.

[2021-04-22 07:53] #490 closed

[2021-04-22 08:03] manast commented on #489
Probably due to this: https://docs.bullmq.io/guide/jobs/stalled

[2021-04-22 08:05] japrescott commented on #490
@manast wow, didnt expect this to be fixed. I was more wondering what the use-case for this token is? So one can pass "secret" information to a job?

[2021-04-22 08:19] manast commented on #490
We are working on a use case where you can move the job to a different state from within the processor, and for that you need the token of that worker. But this is optional and will be explained in the documentation when it is ready.

[2021-04-22 08:30] ujwaldhakal commented on #489
@manast but there is no stalled flag in my current queue job .. yep my some of the background task take long time and they are processed even though i get this issue. And once i get this error the job will be still there and no one will proceed i am running sandbox processor that is running function in different file

[2021-04-22 08:45] manast commented on #489
You should provide a minimal test case that reproduces the issue so we can help better.

[2021-04-22 08:58] ujwaldhakal commented on #489
Ok sure i will provide with some codes that will replicate.Thank you !

[2021-04-22 22:22] mmahalwy commented on #329
@manast i am having the same problem too. Jest hangs. I can create a repro repo if that helps

[2021-04-23 09:00] wenq1 commented on #155
Not sure if #389 and #359 is related to this.

The infinite loop is the root cause of the crash, not the resume.

[2021-04-23 10:58] eltoroit commented on #452
I am testing the restart of the jobs by manually killing the process (CTRL+C) because my server will restart the job every day,  I am doing a proper closing of the Queue, QueueScheduler, Worker, Redis. When I restart the process, I can query it in the active state but it does not seem to be re-processing the job.

Is there something else I have to do to get the jobs restarted?

[2021-04-23 11:23] m-ronchi opened #492 "wrong return types for job.getDependencies and job.getChildrenValues"
Hi,

the Job class has those methods typed like this:
[code]
but at runtime they return values of different types.

example code:
[code]
output:
[code]

- dependencies.processed is an object `{[key:string]:string` instead of a `string[]`
- children values are not strings

[2021-04-23 12:32] m-ronchi opened #493 "worker.close leaks connection"
Hi,

the `worker.close()` method keeps a redis connection open, which in turn doesn't let nodeJS exit.

if you run this code:
[code]
the process remains running forever. `wtfnode` prints a connection to redis still active.

I can workaround this by doing an additional `await worker.disconnect();`, but it's not mentioned anywhere in the docs

[2021-04-23 12:43] #453 closed

[2021-04-23 15:20] manast commented on #493
are you using the latest BullMQ version? because this precise issue was fixed a couple of days ago.

[2021-04-23 15:22] manast commented on #492
thanks, I will fix this ASAP.

[2021-04-23 15:41] #492 closed

[2021-04-23 15:47] m-ronchi commented on #493
I had 1.18.2, updating to 1.20.3 fixed this.

[2021-04-23 15:49] #493 closed

[2021-04-23 15:55] manast commented on #329
@mmahalwy is this happening with the latest version too?

[2021-04-23 16:30] Stormtv commented on #488
Have you tried setting a custom name or jobId for each repeatable job?

https://docs.bullmq.io/guide/jobs/repeatable

[code]

[2021-04-23 16:39] #469 closed

[2021-04-23 23:16] mmahalwy commented on #329
@manast yep. When I export multiple queue instances, this causes a problem. The only solution I found is to instantiate an instance of that queue for when I need to call it.

Separately though, it'd be great if there are examples. I have no idea if what I am doing is correct but it works 🤷

[2021-04-23 23:37] roggervalf commented on #318
I'm checking that ioredis does not include its type file, so @types/ioredis is still needed. I think we are good to close this issue

[2021-04-24 20:46] manast commented on #318
yes, I learnt that ioredis does not ship with typings, closing.

[2021-04-24 20:46] #318 closed

[2021-04-25 09:15] stefanpl commented on #472
Hi @manast ,

just had another look. The problem is based on the [`if` branch inside the `add` function](https://github.com/taskforcesh/bullmq/blob/master/src/classes/queue.ts#L55). By returning `addNextRepeatableJob`, which has no generic typing, TS falls back to the most generic type it can infer for the whole `add` function.

I added a [PR to address this](https://github.com/taskforcesh/bullmq/

[2021-04-26 18:05] higgins commented on #488
Hey @Stormtv ! Yeah, we've tried adding `jobId` to each of the job objects we pass to `addBulk` but still the only one that repeats is the first job it receives.

[2021-04-26 18:14] zwjohn opened #502 "Worker Error Recovery"
This may be a question rather than an issue, sorry I am new to BullMQ.
I am testing BullMQ on a single core server, and I noticed that if the worker does not return or throw error during the worker processing, then the worker listener won't fire or called again, all subsequence jobs for the queue will become stalled jobs.
That means, if the worker failed for some reason, everything will stop worki

[2021-04-26 22:19] Stormtv opened #503 "Add support for parent opts with addBulk"
I have a use case where a child job is adding a bulk number of additional jobs to a parent job. I originally tried to implement this with addBulk but it doesn't seem to support the ParentOpts which is needed in order to create the dependencies on the parent job. My temporary fix to this was to use `addJob` with a `Promise.all`

[2021-04-27 01:57] koiszzz opened #504 "Flow task removed doesn't remove data relative"
[code]

After running these codes, the redis still remain some data that named <pid:processed> and  <pid:event>.

[2021-04-27 20:23] manast commented on #502
That means, if the worker failed for some reason, everything will stop working after that, I had to restart the server to have the stalled jobs processed. Is this by design or how to avoid this behavior, so that worker is always available handling jobs, even previous job crashed due to some reason?

This is not the normal behaviour of BullMQ. Since the processor is an async function it must either

[2021-04-27 20:24] #502 closed

[2021-04-27 20:51] manast commented on #504
not sure if it was a typo in your exampel code but you wrote: ```removeIOnComplete``` instead of ```removeOnComplete```. Let me know if still does not work and I will take a look into it.